<!-----------------------------------Footer section --------------------------->
     <footer id="footer">
         <div class="footer">
            <a class="footer-rights" href="#"> Copyright &copy; www.CustomerCareCompiled.in </a> | <a class="footer-rights" href="#"> All rights reserved </a>
         </div>
         <div class="instagram">
            <a href="https://www.instagram.com/who_eshu/" target="_blank"><i class="fa fa-instagram icon-social "></i></a>
        </div>
         <div class="gmail">
            <a href="mailto:eshu0408@gmail.com" target="_blank"><i class="fa fa-envelope-o icon-social"></i></a>   
        </div>
     </footer>

    
</body>
</html>