<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Airtel</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Airtel India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number airtel ,airtel branch locator,locate airtel branch, airtel customer care number, airtel customer care number 24x7, airtel complaint status, airtel 24 hour customer care, airtel grievance email id, airtel customer care email id, airtel customer care email id, airtel branch manager contact number,customer service number airtel,customer care number airtel india ,airtel india branch locator,locate airtel india branch, airtel india customer care number, airtel india customer care number 24x7, airtel india complaint status, airtel india 24 hour customer care, airtel india grievance email id, airtel india customer care email id, airtel india customer care email id, airtel india branch manager contact number,customer service number airtel india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Airtel Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <h3 class="list-subheading1">Prepaid & Postpaid</h3>
        <p class="list-content">For Enquiries and Requests- Call <b> 121</b> from your Airtel number (Chargeable at 50p/3 mins for advisor access only) </p>
        <p class="list-content">For Complaints- Call <b> 198</b> (Toll Free) </p>
        <p class="list-content">From any other number, please call- <br>  9810012345 (Postpaid) <br> 9810198101 (Prepaid) </p>  
        <p class="list-content"><b> Find and call your localized call centre:</b> </p>
        <a class="list-links" href="https://www.airtel.in/prepaid-support" target="_blank">Kindly Visit</a>
        
         <br> <br> <br>

        <h3 class="list-subheading1">Broadband</h3>
        <p class="list-content">Call customer care number <b> 121</b> from your landline</p>  
        <p class="list-content"><b> Find and call your localized call centre:</b></p>
        <a class="list-links" href="https://www.airtel.in/broadband-customer-care" target="_blank">Kindly Visit</a>

        <br> <br> <br>

        <h3 class="list-subheading1">DTH</h3>
        <p class="list-content">Call customer care no.<b> 12150</b> from your registered number</p> 
        <p class="list-content"><b> Find and call your localized call centre:</b> </p>
        <a class="list-links" href="https://www.airtel.in/digital-tv/dth-contact-us/customer-care" target="_blank">Kindly Visit</a>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.airtel.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}