<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | BSNL</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find BSNL India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bsnl ,bsnl branch locator,locate bsnl branch, bsnl customer care number, bsnl customer care number 24x7, bsnl complaint status, bsnl 24 hour customer care, bsnl grievance email id, bsnl customer care email id, bsnl customer care email id, bsnl branch manager contact number,customer service number bsnl,customer care number bsnl india ,bsnl india branch locator,locate bsnl india branch, bsnl india customer care number, bsnl india customer care number 24x7, bsnl india complaint status, bsnl india 24 hour customer care, bsnl india grievance email id, bsnl india customer care email id, bsnl india customer care email id, bsnl india branch manager contact number,customer service number bsnl india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">BSNL Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <h3 class="list-subheading1">GSM Postpaid / Prepaid</h3>
        <p class="list-content">1503 (From BSNL mobile or Landline) <br> 1800-180-1503 (rom other operator mobile or Landline) </p>  

        <br> <br> <br>

        <h3 class="list-subheading1">LandLine</h3>
        <p class="list-content">1500 (From BSNL mobile or Landline) <br> 1800-345-1500 (From other operator mobile or Landline) </p>
         <br> <br> <br>

        <h3 class="list-subheading1">Broadband</h3>
        <p class="list-content">1504 (From BSNL mobile or Landline) <br> 1800-345-1504 (From other operator mobile or Landline) </p>  

        <br> <br> <br>

        <h3 class="list-subheading1">WLL / CDMA</h3>
        <p class="list-content">1502 (From BSNL mobile or Landline)<br> 1800-180-1502 (From other operator mobile or Landline) </p>  

        <br> <br> <br>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bsnl.co.in/index.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}