<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Jio</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Jio India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number jio ,jio branch locator,locate jio branch, jio customer care number, jio customer care number 24x7, jio complaint status, jio 24 hour customer care, jio grievance email id, jio customer care email id, jio customer care email id, jio branch manager contact number,customer service number jio,customer care number jio india ,jio india branch locator,locate jio india branch, jio india customer care number, jio india customer care number 24x7, jio india complaint status, jio india 24 hour customer care, jio india grievance email id, jio india customer care email id, jio india customer care email id, jio india branch manager contact number,customer service number jio india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Jio Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 </h2>
        <h3 class="list-subheading1">Talk to us on</h3>
        <p class="list-content">1860-893-3333 </p>  
        <br> <br>  

        <h3 class="list-subheading1">Calling from Non Jio number</h3>
        <p class="list-content">1800-889-9999 </p>  
       <br> <br>  

        <h3 class="list-subheading1">For recharge plans, data balance, validity, recharge confirmation & offers</h3>
        <p class="list-content">1991</p>
        <br> <br> 

        <h3 class="list-subheading1">For Queries</h3>
        <p class="list-content">199 </p>  
        <br> <br>  

        <h3 class="list-subheading1">For Complaints</h3>
        <p class="list-content">198</p>  
        <br> <br>  

        <h3 class="list-subheading1">Tele-verification to activate both HD voice & data services</h3>
        <p class="list-content">1977</p>  
        <br> <br> 

        <h3 class="list-subheading1">For support on International Roaming (accessible only when roaming abroad)	</h3>
        <p class="list-content">	+917018899999 (charges applicable)</p>  
        <br> <br> 

        <h3 class="list-subheading1">JioFiber Customer care 24x7	</h3>
        <p class="list-content"> 1800-896-9999</p>  
        <br> <br> 

        <h3 class="list-subheading1">Jio Device Helpline (JioPhone, LYF Mobile & JioFi)	</h3>
        <p class="list-content">1800-890-9999</p>  
        <br> <br> 

        <h3 class="list-subheading1">Online Shopping	</h3>
        <p class="list-content">1800-893-3399</p>  
        <br> <br> 

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.jio.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}