<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | MTNL</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find MTNL India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number mtnl ,mtnl branch locator,locate mtnl branch, mtnl customer care number, mtnl customer care number 24x7, mtnl complaint status, mtnl 24 hour customer care, mtnl grievance email id, mtnl customer care email id, mtnl customer care email id, mtnl branch manager contact number,customer service number mtnl,customer care number mtnl india ,mtnl india branch locator,locate mtnl india branch, mtnl india customer care number, mtnl india customer care number 24x7, mtnl india complaint status, mtnl india 24 hour customer care, mtnl india grievance email id, mtnl india customer care email id, mtnl india customer care email id, mtnl india branch manager contact number,customer service number mtnl india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">MTNL Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Toll free)</h2>
        <h3 class="list-subheading1">Mobile</h3>
        <p class="list-content">1503  <br>1800111503 <br> 9869 012345 <br> 2222 1503  <br> Email: 1503@bol.net </p>  
        <br>  

        <h3 class="list-subheading1">Landline</h3>
        <p class="list-content">1500   <br>2222 1500 <br> 1800 22 1500</p>  
        <br>  

        <h3 class="list-subheading1">Broadband</h3>
        <p class="list-content">1504  <br> 1800 22 8844</p>  
        <br>  

        <h3 class="list-subheading1">FTTH</h3>
        <p class="list-content">1130   <br>1800 22 1130</p>  
        <br>  

        <h3 class="list-subheading1">IN Services	</h3>
        <p class="list-content">1800 22 1500</p>  
        <br>  

        <h2 class="list-heading1">Public Grievance cell</h2>
        <p class="list-content"> 1509 <br>  011-23356666 <br> Fax 011-23357777   </p>  
        <br>  

        <h2 class="list-heading1">Changed Number Enquiry Service</h2>
        <p class="list-content"> 1951  (Hindi) <br> 1952  (English)   </p>  
        <br>  
        
        <h2 class="list-heading1">MTNL Infoline</h2>
        <p class="list-content"> 24076666 (Hindi) <br> 24077777 (English)   </p>  
        <br>  

        <h2 class="list-heading1">MTNL Newsline</h2>
        <p class="list-content"> 24078888  (Hindi) <br> 24079999  (English)   </p>  
        <br>  

        <h2 class="list-heading1">Mumbai  Unit</h2>
        <h3 class="list-subheading1">Adddress:</h3>
        <p class="list-content">The General Manager (Vig),14 th Floor, Prabhadevi,<br>  Telephone House, MTNL V.S.Marg,<br> Dader(west), Mumbai -400028</p>  
        <h3 class="list-subheading1">Contacts:</h3>
        <p class="list-content">24302929 <br>Fax: 24311617 <br>  Email: gmvigil@mtnl.net.in</p>  
        <br> <br>

        <h2 class="list-heading1">Delhi Unit</h2>
        <h3 class="list-subheading1">Adddress:</h3>
        <p class="list-content">General Manager (Vig), 4th Floor, K.L.Bhawan<br>   Mahanagar Telephone Nigam Limited <br> New Delhi- 110050</p>  
        <h3 class="list-subheading1">Contacts:</h3>
        <p class="list-content">23320707 <br>Fax: 23327460 <br>  Email: gmvig@bol.net.in</p>  
        <br> <br>

        <h2 class="list-heading1">Corporate Office </h2>
        <h3 class="list-subheading1">Adddress:</h3>
        <p class="list-content">Chief Vigilance Officer,MTNL Corporate Office, <br>  Mahanagar Door Sanchar Sadan Room No.4213, <br>  Lobby No. 2,4th Floor, (Opp. Gate No. 13,JLN Stadium)  <br>9 CGO Complex , Lodhi Road, New Delhi - 3 </p>  
        <h3 class="list-subheading1">Contacts:</h3>
        <p class="list-content">24328988 <br>Fax: 24317344 <br>MTNL PAX: 428 CUG 74558 <br> Email: cvoco@bol.net.in</p>  
        <br> <br>



        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://mtnl.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}