<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Vi</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Vi India Customer Care details at CustomerCareCompiled.in">
    	<meta name="keyword" content="customer care number idea ,idea branch locator,locate idea branch, idea customer care number, idea customer care number 24x7, idea complaint status, idea 24 hour customer care, idea grievance email id, idea customer care email id, idea customer care email id, idea branch manager contact number,customer serideace number idea,customer care number idea india ,idea india branch locator,locate idea india branch, idea india customer care number, idea india customer care number 24x7, idea india complaint status, idea india 24 hour customer care, idea india grievance email id, idea india customer care email id, idea india customer care email id, idea india branch manager contact number,customer serideace number idea india,customer care number idea ,idea branch locator,locate idea branch, idea customer care number, idea customer care number 24x7, idea complaint status, idea 24 hour customer care, idea grievance email id, idea customer care email id, idea customer care email id, idea branch manager contact number,customer serideace number idea,customer care number idea india ,idea india branch locator,locate idea india branch, idea india customer care number, idea india customer care number 24x7, idea india complaint status, idea india 24 hour customer care, idea india grievance email id, idea india customer care email id, idea india customer care email id, idea india branch manager contact number,customer serideace number idea india,customer care number idea ,idea branch locator,locate idea branch, idea customer care number, idea customer care number 24x7, idea complaint status, idea 24 hour customer care, idea grievance email id, idea customer care email id, idea customer care email id, idea branch manager contact number,customer serideace number idea,customer care number idea india ,idea india branch locator,locate idea india branch, idea india customer care number, idea india customer care number 24x7, idea india complaint status, idea india 24 hour customer care, idea india grievance email id, idea india customer care email id, idea india customer care email id, idea india branch manager contact number,customer serideace number idea india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Vi Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <h3 class="list-subheading1">Customer Helpline </h3>
        <p class="list-content">199 (From your Vi™ Mobile Number) </p>  
        <br>  

        <h3 class="list-subheading1">Complaint Helpline </h3>
        <p class="list-content">198 (From your Vi™ Mobile Number) </p>  
        <br>  

        <h3 class="list-subheading1">Whatsapp </h3>
        <p class="list-content">9654297000 </p>  
        <br>  

        <h3 class="list-subheading1">VAS Deactivation </h3>
        <p class="list-content">155223 </p>  
        <br>  

        <h3 class="list-subheading1">Do Not Disturb </h3>
        <p class="list-content">1909 </p>  
        <br>  

        <h3 class="list-subheading1">Data Activation/ Deactivation </h3>
        <p class="list-content">1925 </p>  
        <br> 

        <h3 class="list-subheading1">Televerification </h3>
        <p class="list-content">59059 </p>  
        <br> 

        <h3 class="list-subheading1">Mobile Number Portability Helpline </h3>
        <p class="list-content">18001234567 </p>  
        <br> 

        <h3 class="list-subheading1">COCP/Enterprise</h3>
        <p class="list-content">55666 </p>  
        <br> 

        <h2 class="list-heading1">Office Address</h2>
        <h3 class="list-subheading1">Adddress:</h3>
        <p class="list-content">Vodafone Idea Limited (formerly Idea Cellular Limited), <br>An Aditya Birla Group & Vodafone partnership, Birla Centurion,<br> 10th Floor, Plot No. 794, B Wing, Pandurang Budhkar Marg, <br> Worli, Mumbai - 400 030 India</p>  

        <h2 class="list-heading1">Registered Address </h2>
        <h3 class="list-subheading1">Adddress:</h3>
        <p class="list-content">Vodafone Idea Limited (formerly Idea Cellular Limited), <br>  An Aditya Birla Group & Vodafone partnership, Suman Tower,  <br> Plot No. 18, Sector no. 11,  Gandhinagar - 382011 India, CIN L32100GJ1996PLC030976. </p>  
        <h3 class="list-subheading1">Contacts:</h3>
        <p class="list-content"> +91-79 6671 4000 <br>Fax:  +91-79 2323 2251 </p>  
        <br> <br>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.myvi.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}