<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | 3M India Limited</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find 3M India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number 3m ,3m branch locator,locate 3m branch, 3m customer care number, 3m customer care number 24x7, 3m complaint status, 3m 24 hour customer care, 3m grievance email id, 3m customer care email id, 3m customer care email id, 3m branch manager contact number,customer service number 3m,customer care number 3m india ,3m india branch locator,locate 3m india branch, 3m india customer care number, 3m india customer care number 24x7, 3m india complaint status, 3m india 24 hour customer care, 3m india grievance email id, 3m india customer care email id, 3m india customer care email id, 3m india branch manager contact number,customer service number 3m india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">3M India Limited Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1-800-425-3030 (Monday - Saturday 9AM to 6PM)  <br> Fax: 918022231450</p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.3mindia.in/3M/en_IN/company-in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}