<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Amara Raja Batteries </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Amara Raja Batteries India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number amara raja batteries ,amara raja batteries branch locator,locate amara raja batteries branch, amara raja batteries customer care number, amara raja batteries customer care number 24x7, amara raja batteries complaint status, amara raja batteries 24 hour customer care, amara raja batteries grievance email id, amara raja batteries customer care email id, amara raja batteries customer care email id, amara raja batteries branch manager contact number,customer service number amara raja batteries,customer care number amara raja batteries india ,amara raja batteries india branch locator,locate amara raja batteries india branch, amara raja batteries india customer care number, amara raja batteries india customer care number 24x7, amara raja batteries india complaint status, amara raja batteries india 24 hour customer care, amara raja batteries india grievance email id, amara raja batteries india customer care email id, amara raja batteries india customer care email id, amara raja batteries india branch manager contact number,customer service number amara raja batteries india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Amara Raja Batteries Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">	 +91 40 2313 9000 <br> +91 877 2265000  </p>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://amararajabatteries.com/Home" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}