<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bharat heavy Electricals Limited </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find BHEL India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bhel ,bhel branch locator,locate bhel branch, bhel customer care number, bhel customer care number 24x7, bhel complaint status, bhel 24 hour customer care, bhel grievance email id, bhel customer care email id, bhel customer care email id, bhel branch manager contact number,customer service number bhel,customer care number bhel india ,bhel india branch locator,locate bhel india branch, bhel india customer care number, bhel india customer care number 24x7, bhel india complaint status, bhel india 24 hour customer care, bhel india grievance email id, bhel india customer care email id, bhel india customer care email id, bhel india branch manager contact number,customer service number bhel india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bharat heavy Electricals Limited Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">	+91-1166 337 000 <br>+91-1124 302 243 <br>+91-1141 793 243 <br> Email: customercare@bajajelectronics.in   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://bhel.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}