<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Digitech Electronics </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Digitech Electronics India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number digitech electronics ,digitech electronics branch locator,locate digitech electronics branch, digitech electronics customer care number, digitech electronics customer care number 24x7, digitech electronics complaint status, digitech electronics 24 hour customer care, digitech electronics grievance email id, digitech electronics customer care email id, digitech electronics customer care email id, digitech electronics branch manager contact number,customer service number digitech electronics,customer care number digitech electronics india ,digitech electronics india branch locator,locate digitech electronics india branch, digitech electronics india customer care number, digitech electronics india customer care number 24x7, digitech electronics india complaint status, digitech electronics india 24 hour customer care, digitech electronics india grievance email id, digitech electronics india customer care email id, digitech electronics india customer care email id, digitech electronics india branch manager contact number,customer service number digitech electronics india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Digitech Electronics Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> +91 9811240004 <br> +91 9810943438 <br> Email: powerlineservo@gmail.com, katariagl@digitechelectronics.co.in   </p>
        
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://www.digitechelectronics.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}