<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Eveready </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Eveready India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number eveready ,eveready branch locator,locate eveready branch, eveready customer care number, eveready customer care number 24x7, eveready complaint status, eveready 24 hour customer care, eveready grievance email id, eveready customer care email id, eveready customer care email id, eveready branch manager contact number,customer service number eveready,customer care number eveready india ,eveready india branch locator,locate eveready india branch, eveready india customer care number, eveready india customer care number 24x7, eveready india complaint status, eveready india 24 hour customer care, eveready india grievance email id, eveready india customer care email id, eveready india customer care email id, eveready india branch manager contact number,customer service number eveready india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Eveready Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">91-33-2486 4961 <br>(033) 2248 4787 <br> Email: consumercare@eveready.co.in   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.evereadyindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}