<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kirloskar Electric </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Kirloskar Electric India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number kirloskar electric ,kirloskar electric branch locator,locate kirloskar electric branch, kirloskar electric customer care number, kirloskar electric customer care number 24x7, kirloskar electric complaint status, kirloskar electric 24 hour customer care, kirloskar electric grievance email id, kirloskar electric customer care email id, kirloskar electric customer care email id, kirloskar electric branch manager contact number,customer service number kirloskar electric,customer care number kirloskar electric india ,kirloskar electric india branch locator,locate kirloskar electric india branch, kirloskar electric india customer care number, kirloskar electric india customer care number 24x7, kirloskar electric india complaint status, kirloskar electric india 24 hour customer care, kirloskar electric india grievance email id, kirloskar electric india customer care email id, kirloskar electric india customer care email id, kirloskar electric india branch manager contact number,customer service number kirloskar electric india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kirloskar Electric Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1800 1028 268 <br>+91-80-28397256  <br> Fax: +91-80-23377706   </p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="http://www.kirloskarelectric.com/support/dealers-network.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://www.kirloskarelectric.com/index.php" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}