<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Schneider Electrical </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Schneider Electrical India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number schneider electrical ,schneider electrical branch locator,locate schneider electrical branch, schneider electrical customer care number, schneider electrical customer care number 24x7, schneider electrical complaint status, schneider electrical 24 hour customer care, schneider electrical grievance email id, schneider electrical customer care email id, schneider electrical customer care email id, schneider electrical branch manager contact number,customer service number schneider electrical,customer care number schneider electrical india ,schneider electrical india branch locator,locate schneider electrical india branch, schneider electrical india customer care number, schneider electrical india customer care number 24x7, schneider electrical india complaint status, schneider electrical india 24 hour customer care, schneider electrical india grievance email id, schneider electrical india customer care email id, schneider electrical india customer care email id, schneider electrical india branch manager contact number,customer service number schneider electrical india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Schneider Electrical Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care ( 9:00 AM to 7:00 PM )  </h2>
        <p class="list-content">+91 1800 103 0011 <br>+91 1800 419 4272  <br>Email: Customercare.in@schneider-electric.com </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.se.com/in/en/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}