<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Wipro Lighting </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Wipro Lighting India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number wipro lighting ,wipro lighting branch locator,locate wipro lighting branch, wipro lighting customer care number, wipro lighting customer care number 24x7, wipro lighting complaint status, wipro lighting 24 hour customer care, wipro lighting grievance email id, wipro lighting customer care email id, wipro lighting customer care email id, wipro lighting branch manager contact number,customer service number wipro lighting,customer care number wipro lighting india ,wipro lighting india branch locator,locate wipro lighting india branch, wipro lighting india customer care number, wipro lighting india customer care number 24x7, wipro lighting india complaint status, wipro lighting india 24 hour customer care, wipro lighting india grievance email id, wipro lighting india customer care email id, wipro lighting india customer care email id, wipro lighting india branch manager contact number,customer service number wipro lighting india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Wipro Lighting Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1800-425-1969 (MON TO FRI, 9:00 AM TO 5:00 PM) <br>020-66098700 <br> Email: helpdesk.lighting@wipro.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.wiprolighting.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}