<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Airtel Money</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Airtel Money India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number airtel money ,airtel money branch locator,locate airtel money branch, airtel money customer care number, airtel money customer care number 24x7, airtel money complaint status, airtel money 24 hour customer care, airtel money grievance email id, airtel money customer care email id, airtel money customer care email id, airtel money branch manager contact number,customer service number airtel money,customer care number airtel money india ,airtel money india branch locator,locate airtel money india branch, airtel money india customer care number, airtel money india customer care number 24x7, airtel money india complaint status, airtel money india 24 hour customer care, airtel money india grievance email id, airtel money india customer care email id, airtel money india customer care email id, airtel money india branch manager contact number,customer service number airtel money india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Airtel Money Customer Care Details</h1>

        <h2 class="list-heading1">Call Center (For airtel Customers) </h2>
        <p class="list-content">400 <br> Email: wecare@airtelbank.com</p>

        <h2 class="list-heading1">Call Center (For Other operators)  </h2>
        <p class="list-content"> 8800688006 </p>

        <h2 class="list-heading1">Grievance Redressal </h2>
        <p class="list-content"> grievance.officer@airtelbank.com</p>

        <h2 class="list-heading1">Principal Nodal Officer (Monday to Friday 9:30 AM to 6:30 PM)  </h2>
        <p class="list-content"> 0124-4247797 <br> Email: pno@airtelbank.com</p>

        <h2 class="list-heading1">Customers Grievances Officer Details Here</h2>
        <a class="list-links" href="https://www.airtel.in/bank/cgo" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Branch details here</h2>
        <a class="list-links" href="https://www.airtel.in/bank/terms/pdf/Branch_Details.pdf" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}