<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Amazon Pay</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Amazon Pay India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number amazon pay ,amazon pay branch locator,locate amazon pay branch, amazon pay customer care number, amazon pay customer care number 24x7, amazon pay complaint status, amazon pay 24 hour customer care, amazon pay grievance email id, amazon pay customer care email id, amazon pay customer care email id, amazon pay branch manager contact number,customer service number amazon pay,customer care number amazon pay india ,amazon pay india branch locator,locate amazon pay india branch, amazon pay india customer care number, amazon pay india customer care number 24x7, amazon pay india complaint status, amazon pay india 24 hour customer care, amazon pay india grievance email id, amazon pay india customer care email id, amazon pay india customer care email id, amazon pay india branch manager contact number,customer service number amazon pay india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Amazon Pay Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Toll-Free) </h2>
        <p class="list-content">1800-3000-9009</p>

        <h2 class="list-heading1">Customer Care  (For Sellers)   </h2>
        <p class="list-content"> 1800-419-7355 </p>

        <h2 class="list-heading1">Customer Service Escalation </h2>
        <p class="list-content">Email: amazonpay-escalation@amazonpay.in</p>

        <h2 class="list-heading1">Amazon Pay Grievances </h2>
        <p class="list-content">Email: officer@amazonpay.in</p>
        
        <h2 class="list-heading1">Nodal Officer </h2>
        <p class="list-content"> Email: amazonpay-nodal-officer@amazonpay.in</p>


        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}