<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | BharatPe</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find BharatPe India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bharatpe ,bharatpe branch locator,locate bharatpe branch, bharatpe customer care number, bharatpe customer care number 24x7, bharatpe complaint status, bharatpe 24 hour customer care, bharatpe grievance email id, bharatpe customer care email id, bharatpe customer care email id, bharatpe branch manager contact number,customer service number bharatpe,customer care number bharatpe india ,bharatpe india branch locator,locate bharatpe india branch, bharatpe india customer care number, bharatpe india customer care number 24x7, bharatpe india complaint status, bharatpe india 24 hour customer care, bharatpe india grievance email id, bharatpe india customer care email id, bharatpe india customer care email id, bharatpe india branch manager contact number,customer service number bharatpe india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">BharatPe Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content">888 2555 444</p>

        <h2 class="list-heading1">Head Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">A-45, Corner Market, Malviya Nagar, Opp. Panchshila Rendezvous,<br> New Delhi,Delhi 110017</p>

        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}