<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Dhani</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Dhani India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number dhani ,dhani branch locator,locate dhani branch, dhani customer care number, dhani customer care number 24x7, dhani complaint status, dhani 24 hour customer care, dhani grievance email id, dhani customer care email id, dhani customer care email id, dhani branch manager contact number,customer service number dhani,customer care number dhani india ,dhani india branch locator,locate dhani india branch, dhani india customer care number, dhani india customer care number 24x7, dhani india complaint status, dhani india 24 hour customer care, dhani india grievance email id, dhani india customer care email id, dhani india customer care email id, dhani india branch manager contact number,customer service number dhani india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Dhani Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (8:00 Am to 8:00 PM)</h2>
        <p class="list-content">0124-6555-555 <br> Email: support@dhani.com</p>

        <h2 class="list-heading1">Corporate Offices</h2>
        <h3 class="list-subheading1">Address 1:</h3>
        <p class="list-content">One International Centre (Formerly IFC), Senapati Bapat Marg, Elphinstone Road, Mumbai – 400 013</p>
        <h3 class="list-subheading1">Address 2:</h3>
        <p class="list-content">Concepts International India LLP, Plot No. 422 B, Udyog Vihar, Phase -4, Gurugram – 122 016</p>
        <h3 class="list-subheading1">Address 3:</h3>
        <p class="list-content">Indiabulls House, 448-451, Udyog Vihar, Phase V, Gurugram – 122 016</p>


        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">M-62 and 63, First Floor Connaught Place, New Delhi - 110001</p>
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}