<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Freecharge</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Freecharge India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number freecharge ,freecharge branch locator,locate freecharge branch, freecharge customer care number, freecharge customer care number 24x7, freecharge complaint status, freecharge 24 hour customer care, freecharge grievance email id, freecharge customer care email id, freecharge customer care email id, freecharge branch manager contact number,customer service number freecharge,customer care number freecharge india ,freecharge india branch locator,locate freecharge india branch, freecharge india customer care number, freecharge india customer care number 24x7, freecharge india complaint status, freecharge india 24 hour customer care, freecharge india grievance email id, freecharge india customer care email id, freecharge india customer care email id, freecharge india branch manager contact number,customer service number freecharge india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">FreeCharge Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (24x7)</h2>
        <p class="list-content">0124 663 4800 <br> Email: care@freecharge.com </p>

        <h2 class="list-heading1">Grievance Redressal</h2>
        <p class="list-content"> Email: grievanceofficer@freecharge.com </p>

        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">2nd Floor, Plot No. 25, Pusa Road, New Delhi-110005 CIN- U74140DL2015PTC275419</p>
        <h3 class="list-subheading1">Telephone</h3>
        <p class="list-content">0124 663 4800</p>

        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}