<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | ICICI Pockets</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find ICICI Pockets India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number icici pockets ,icici pockets branch locator,locate icici pockets branch, icici pockets customer care number, icici pockets customer care number 24x7, icici pockets complaint status, icici pockets 24 hour customer care, icici pockets grievance email id, icici pockets customer care email id, icici pockets customer care email id, icici pockets branch manager contact number,customer service number icici pockets,customer care number icici pockets india ,icici pockets india branch locator,locate icici pockets india branch, icici pockets india customer care number, icici pockets india customer care number 24x7, icici pockets india complaint status, icici pockets india 24 hour customer care, icici pockets india grievance email id, icici pockets india customer care email id, icici pockets india customer care email id, icici pockets india branch manager contact number,customer service number icici pockets india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">ICICI Pockets Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">+91 75698 67777 <br> Email: pockets@icicibank.com </p>


        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}