<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Paytm</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Paytm India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number paytm ,paytm branch locator,locate paytm branch, paytm customer care number, paytm customer care number 24x7, paytm complaint status, paytm 24 hour customer care, paytm grievance email id, paytm customer care email id, paytm customer care email id, paytm branch manager contact number,customer service number paytm,customer care number paytm india ,paytm india branch locator,locate paytm india branch, paytm india customer care number, paytm india customer care number 24x7, paytm india complaint status, paytm india 24 hour customer care, paytm india grievance email id, paytm india customer care email id, paytm india customer care email id, paytm india branch manager contact number,customer service number paytm india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Paytm Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 </h2>
        <h3 class="list-subheading1">Bank, Wallet & Payments</h3>
        <p class="list-content">0120-4456-456</p>
        <h3 class="list-subheading1">Paytm Mall Shopping Orders</h3>
        <p class="list-content">0120-4606060</p>
        <h3 class="list-subheading1">Travel and Hotels</h3>
        <p class="list-content">0120-4880-880</p>

        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}