<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | PayU Money</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find PayU Money India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number payu money ,payu money branch locator,locate payu money branch, payu money customer care number, payu money customer care number 24x7, payu money complaint status, payu money 24 hour customer care, payu money grievance email id, payu money customer care email id, payu money customer care email id, payu money branch manager contact number,customer service number payu money,customer care number payu money india ,payu money india branch locator,locate payu money india branch, payu money india customer care number, payu money india customer care number 24x7, payu money india complaint status, payu money india 24 hour customer care, payu money india grievance email id, payu money india customer care email id, payu money india customer care email id, payu money india branch manager contact number,customer service number payu money india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">PayU Money Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <h3 class="list-subheading1">For Buyers</h3>
        <p class="list-content">Email: care@payumoney.com  </p>
        <h3 class="list-subheading1">For Merchants </h3>
        <p class="list-content">Email: merchantcare@payumoney.com  </p>


        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}