<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Acer</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Acer India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number acer ,acer branch locator,locate acer branch, acer customer care number, acer customer care number 24x7, acer complaint status, acer 24 hour customer care, acer grievance email id, acer customer care email id, acer customer care email id, acer branch manager contact number,customer service number acer,customer care number acer india ,acer india branch locator,locate acer india branch, acer india customer care number, acer india customer care number 24x7, acer india complaint status, acer india 24 hour customer care, acer india grievance email id, acer india customer care email id, acer india customer care email id, acer india branch manager contact number,customer service number acer india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Acer Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1860-120-2019 <br> Email: ail.easycare.@acer.com </p>

        <h2 class="list-heading1">Whatsapp</h2>
        <p class="list-content">+91 6366 800 400</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.acer.com/ac/en/IN/content/wheretobuy" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.acer.com/ac/en/IN/content/home" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}