<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Apple</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Apple India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number apple ,apple branch locator,locate apple branch, apple customer care number, apple customer care number 24x7, apple complaint status, apple 24 hour customer care, apple grievance email id, apple customer care email id, apple customer care email id, apple branch manager contact number,customer service number apple,customer care number apple india ,apple india branch locator,locate apple india branch, apple india customer care number, apple india customer care number 24x7, apple india complaint status, apple india 24 hour customer care, apple india grievance email id, apple india customer care email id, apple india customer care email id, apple india branch manager contact number,customer service number apple india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Apple Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">000800 1009009</p>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.apple.com/in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}