<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Coolpad </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Coolpad India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number coolpad ,coolpad branch locator,locate coolpad branch, coolpad customer care number, coolpad customer care number 24x7, coolpad complaint status, coolpad 24 hour customer care, coolpad grievance email id, coolpad customer care email id, coolpad customer care email id, coolpad branch manager contact number,customer service number coolpad,customer care number coolpad india ,coolpad india branch locator,locate coolpad india branch, coolpad india customer care number, coolpad india customer care number 24x7, coolpad india complaint status, coolpad india 24 hour customer care, coolpad india grievance email id, coolpad india customer care email id, coolpad india customer care email id, coolpad india branch manager contact number,customer service number coolpad india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Coolpad Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1800-1027-159</p>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.coolpadindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}