<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Infinix </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Infinix India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number infinix ,infinix branch locator,locate infinix branch, infinix customer care number, infinix customer care number 24x7, infinix complaint status, infinix 24 hour customer care, infinix grievance email id, infinix customer care email id, infinix customer care email id, infinix branch manager contact number,customer service number infinix,customer care number infinix india ,infinix india branch locator,locate infinix india branch, infinix india customer care number, infinix india customer care number 24x7, infinix india complaint status, infinix india 24 hour customer care, infinix india grievance email id, infinix india customer care email id, infinix india customer care email id, infinix india branch manager contact number,customer service number infinix india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Infinix Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1800-4190-525 (10:00 AM – 07:00 PM)  <br>Email: support@infinix.com</p>

        <h2 class="list-heading1">Locate Service Center Here</h2>
        <a class="list-links" href="https://www.infinixmobiles.in/repair-center/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.infinixmobiles.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}