<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Intex </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Intex India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number intex ,intex branch locator,locate intex branch, intex customer care number, intex customer care number 24x7, intex complaint status, intex 24 hour customer care, intex grievance email id, intex customer care email id, intex customer care email id, intex branch manager contact number,customer service number intex,customer care number intex india ,intex india branch locator,locate intex india branch, intex india customer care number, intex india customer care number 24x7, intex india complaint status, intex india 24 hour customer care, intex india grievance email id, intex india customer care email id, intex india customer care email id, intex india branch manager contact number,customer service number intex india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Intex Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">0120-4028800 (10:00 AM – 07:00 PM)  <br> Email: info@intex.in</p>

        <h2 class="list-heading1">Whatsapp Chat Here</h2>
        <a class="list-links" href="https://api.whatsapp.com/send/?phone=917982078491&text&app_absent=0" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.intex.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}