<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Lava </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Lava India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number lava ,lava branch locator,locate lava branch, lava customer care number, lava customer care number 24x7, lava complaint status, lava 24 hour customer care, lava grievance email id, lava customer care email id, lava customer care email id, lava branch manager contact number,customer service number lava,customer care number lava india ,lava india branch locator,locate lava india branch, lava india customer care number, lava india customer care number 24x7, lava india complaint status, lava india 24 hour customer care, lava india grievance email id, lava india customer care email id, lava india customer care email id, lava india branch manager contact number,customer service number lava india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Lava Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800-103-6844 (24x7 Toll Free) <br> 1860-500-5001 (10.00 AM to 7.00 PM)</p>

        <h2 class="list-heading1">Locate Store Here</h2>
        <a class="list-links" href="https://www.lavamobiles.com/lavastoredealer" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.lavamobiles.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}