<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Mi </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Mi India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number mi ,mi branch locator,locate mi branch, mi customer care number, mi customer care number 24x7, mi complaint status, mi 24 hour customer care, mi grievance email id, mi customer care email id, mi customer care email id, mi branch manager contact number,customer service number mi,customer care number mi india ,mi india branch locator,locate mi india branch, mi india customer care number, mi india customer care number 24x7, mi india complaint status, mi india 24 hour customer care, mi india grievance email id, mi india customer care email id, mi india customer care email id, mi india branch manager contact number,customer service number mi india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Mi Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1800-103-6286 (9:00 AM to 9:00 PM)   </p>

        <h2 class="list-heading1">Chat support Here </h2>
        <a class="list-links" href="https://in.chat.kefu.mi.com/page/index/v2?tag=in&token=aW4jNTAwMCNpbi53ZWIubWkjd2Vic2l0ZSNnb29kc0RldGFpbA==&groupId=P0&locale=en&closedshow=1" target="_blank">Kindly Visit</a>
         
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.mi.com/in/index.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}