<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Motorola </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Motorola India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number motorola ,motorola branch locator,locate motorola branch, motorola customer care number, motorola customer care number 24x7, motorola complaint status, motorola 24 hour customer care, motorola grievance email id, motorola customer care email id, motorola customer care email id, motorola branch manager contact number,customer service number motorola,customer care number motorola india ,motorola india branch locator,locate motorola india branch, motorola india customer care number, motorola india customer care number 24x7, motorola india complaint status, motorola india 24 hour customer care, motorola india grievance email id, motorola india customer care email id, motorola india customer care email id, motorola india branch manager contact number,customer service number motorola india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Motorola Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">  1800 102 2344</p>

        <h2 class="list-heading1">Whatsapp </h2>
        <a class="list-links" href="https://api.whatsapp.com/send?phone=918067916686&text=&source=websitecontactus&data=" target="_blank">Kindly Visit</a>
         
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.motorola.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}