<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Philips </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Philips India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number philips ,philips branch locator,locate philips branch, philips customer care number, philips customer care number 24x7, philips complaint status, philips 24 hour customer care, philips grievance email id, philips customer care email id, philips customer care email id, philips branch manager contact number,customer service number philips,customer care number philips india ,philips india branch locator,locate philips india branch, philips india customer care number, philips india customer care number 24x7, philips india complaint status, philips india 24 hour customer care, philips india grievance email id, philips india customer care email id, philips india customer care email id, philips india branch manager contact number,customer service number philips india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Philips Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800 425 6396 (9:00 AM - 9:00 PM)  </p>

        <h2 class="list-heading1">Service Center Here </h2>
        <a class="list-links" href="https://www.philips.co.in/c-m/support-home/service-center-locator.html" target="_blank">Kindly Visit</a>
         
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.philips.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}