<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Samsung </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Samsung India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number samsung ,samsung branch locator,locate samsung branch, samsung customer care number, samsung customer care number 24x7, samsung complaint status, samsung 24 hour customer care, samsung grievance email id, samsung customer care email id, samsung customer care email id, samsung branch manager contact number,customer service number samsung,customer care number samsung india ,samsung india branch locator,locate samsung india branch, samsung india customer care number, samsung india customer care number 24x7, samsung india complaint status, samsung india 24 hour customer care, samsung india grievance email id, samsung india customer care email id, samsung india customer care email id, samsung india branch manager contact number,customer service number samsung india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Samsung Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1-800-5-726-7864 <br> 1-800-40-726-7864 <br> Email: support.india@samsung.com  </p>

        <h2 class="list-heading1">Whatsapp </h2>
        <a class="list-links" href="https://api.whatsapp.com/send/?phone=91180057267864&text=hi&app_absent=0" target="_blank">Kindly Visit</a>
         

        <h2 class="list-heading1">Service Center Here </h2>
        <a class="list-links" href="https://www.samsung.com/in/support/service-center/" target="_blank">Kindly Visit</a>
         
        <h2 class="list-heading1">Store Locator Here </h2>
        <a class="list-links" href="https://www.samsung.com/in/storelocator/" target="_blank">Kindly Visit</a>
         

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.samsung.com/in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}