<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Sony </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Sony India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number sony ,sony branch locator,locate sony branch, sony customer care number, sony customer care number 24x7, sony complaint status, sony 24 hour customer care, sony grievance email id, sony customer care email id, sony customer care email id, sony branch manager contact number,customer service number sony,customer care number sony india ,sony india branch locator,locate sony india branch, sony india customer care number, sony india customer care number 24x7, sony india complaint status, sony india 24 hour customer care, sony india grievance email id, sony india customer care email id, sony india customer care email id, sony india branch manager contact number,customer service number sony india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Sony Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1800 103 7799  </p>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.sony.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}