<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Xiaomi </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Xiaomi India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number xiaomi ,xiaomi branch locator,locate xiaomi branch, xiaomi customer care number, xiaomi customer care number 24x7, xiaomi complaint status, xiaomi 24 hour customer care, xiaomi grievance email id, xiaomi customer care email id, xiaomi customer care email id, xiaomi branch manager contact number,customer service number xiaomi,customer care number xiaomi india ,xiaomi india branch locator,locate xiaomi india branch, xiaomi india customer care number, xiaomi india customer care number 24x7, xiaomi india complaint status, xiaomi india 24 hour customer care, xiaomi india grievance email id, xiaomi india customer care email id, xiaomi india customer care email id, xiaomi india branch manager contact number,customer service number xiaomi india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Xiaomi Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1800-103-6286 (9:00 AM to 9:00 PM)   </p>

        <h2 class="list-heading1">Chat support Here </h2>
        <a class="list-links" href="https://in.chat.kefu.mi.com/page/index/v2?tag=in&token=aW4jNTAwMCNpbi53ZWIubWkjd2Vic2l0ZSNnb29kc0RldGFpbA==&groupId=P0&locale=en&closedshow=1" target="_blank">Kindly Visit</a>
         
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.mi.com/in/all-xiaomi-phones" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}