<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Zte </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Zte India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number zte ,zte branch locator,locate zte branch, zte customer care number, zte customer care number 24x7, zte complaint status, zte 24 hour customer care, zte grievance email id, zte customer care email id, zte customer care email id, zte branch manager contact number,customer service number zte,customer care number zte india ,zte india branch locator,locate zte india branch, zte india customer care number, zte india customer care number 24x7, zte india complaint status, zte india 24 hour customer care, zte india grievance email id, zte india customer care email id, zte india customer care email id, zte india branch manager contact number,customer service number zte india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Zte Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 0044-2034508722 &nbsp;&nbsp; (9:00 AM to 5:00 PM) <br> 1300789475 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (10:00 AM to 4:00 PM)  </p>


        <h2 class="list-heading1">Service Center Here </h2>
        <a class="list-links" href="https://support.ztedevices.com/en-gl/service-center/" target="_blank">Kindly Visit</a>
         
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://global.ztedevices.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}