<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Axis Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Axis Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number axis ,axis bank branch locator,locate axis bank branch, axis customer care number, axis customer care number 24x7, axis complaint status, axis 24 hour customer care, axis grievance email id, axis card customer care email id, axis customer care email id, axis branch manager contact number,customer service number axis">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
 
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Axis Bank Customer Care Details</h1>

        <h2 class="list-heading1">Retail Phone Banking Numbers (Call Us) </h2>
        <p class="list-content">1 - 860 - 419 - 5555 <br> 1 - 860 - 500- 5555</p>

        <h2 class="list-heading1">Agri and Rural (Call Us) </h2>
        <p class="list-content">1 - 800 - 419 - 5577</p>
        <h2 class="list-heading1">Corporate Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Axis Bank Limited, ‘Axis House’,C-2, Wadia International Centre,<br> Pandurang Budhkar Marg, Worli, Mumbai - 400 025</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">+91-22-24252525/43252525 &nbsp;&nbsp; Fax: +91-22-24251800</p>

        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Axis Bank Limited, ‘Trishul’,3rd Floor, Opp. Samartheshwar Temple,<br> Near Law Garden, Ellisbridge, Ahmedabad - 380 006</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">+91-79-66306161  &nbsp;&nbsp; Fax: +91-79-26409321</p>

        <h2 class="list-heading1">Registrar & Transfer Agent</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">M/s Karvy Computershare Private Limited Unit: Axis Bank Limited Karvy Selenium Tower B,<br> Plot 31-32, Gachibowli, Financial District, Nanakramguda, Hyderabad - 500 032</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">NA</p>

        <h2 class="list-heading1">Company Secretary</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Shri Girish V. Koliyote Axis Bank Limited, ‘Axis House’, <br> C-2, Wadia International Centre, Pandurang Budhkar Marg, Worli, Mumbai - 400 025</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">+91-22-24252525/43252525 &nbsp;&nbsp; Fax: +91-22-24251800</p>
        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}