<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bank Of India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Bank of India Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number bank of india ,bank of india branch locator,locate bank of india branch, bank of india customer care number, bank of india customer care number 24x7, bank of india complaint status, bank of india 24 hour customer care, bank of india grievance email id, bank of india card customer care email id, bank of india customer care email id, bank of india branch manager contact number,customer service number bank of india">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bank Of India Customer Care Details</h1>

        <h2 class="list-heading1">For all your enquiries 24x7 (Tollfree) </h2>
        <p class="list-content">1800 220 229 <br> 1800 103 1906</p>

        <h2 class="list-heading1">For all your enquiries (chargeable number) </h2>
        <p class="list-content"> (022) – 40919191</p>

        <h2 class="list-heading1">Head Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">BANK OF INDIA, STAR HOUSE, C - 5, "G" Block, Bandra Kurla Complex,<br> Bandra (East), Mumbai 400 051.</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">022-66684444</p>

        <h2 class="list-heading1">For contact details of the Branches/ Zones</h2>
        <a class="list-links" href="https://www.bankofindia.co.in/Home/BranchLocator" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">For complaints, please click on link</h2>
        <a class="list-links" href="https://www.bankofindia.co.in/forms/Grievance" target="_blank">Kindly Visit</a>




        
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}