<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bank of Baroda</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Bank of Baroda Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number bank of baroda ,bank of baroda branch locator,locate bank of baroda branch, bank of baroda customer care number, bank of baroda customer care number 24x7, bank of baroda complaint status, bank of baroda 24 hour customer care, bank of baroda grievance email id, bank of baroda card customer care email id, bank of baroda customer care email id, bank of baroda branch manager contact number,customer service number bank of baroda">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bank of Baroda Customer Care Details</h1>

        <h2 class="list-heading1">Personal Banking (24x7) Toll Free Number </h2>
        <p class="list-content">1800 258 44 55 <br> 1800 102 44 55</p>

        <h2 class="list-heading1">Missed call services </h2>
        <p class="list-content">Balance Inquiry: 8468001111 <br> Mini Statement: 8468001122</p>

        <h2 class="list-heading1">For PMJDY and other FI schemes 
        <h3 class="list-subheading1">(Dedicated Toll Free Number (06:00am to 10:00pm))</h3>
        <p class="list-content">1800 102 77 88</p>

        <h2 class="list-heading1">NRIs (From overseas locations 24x7 availability) </h2>
        <p class="list-content">+91 79 49044100</p>

        <h2 class="list-heading1">NRIs (From India only) Toll Free Number</h2>
        <p class="list-content">1800 258 44 55  <br> 1800 102 4455</p>

        <h2 class="list-heading1">Operational guidelines Queries (Timing : 10AM - 5PM IST)</h2>
        <h3 class="list-subheading1">(Timing : 10AM - 5PM IST)</h3>
        <p class="list-content">022-6884-3916</p>
        <p class="list-content">mail: nribo@bankofbaroda.com</p>

        <h2 class="list-heading1">Reporting to home branch</h2>
        <h3 class="list-subheading1">As per Branch Timings. To know the details of your branch please visit</h3>
        <a class="list-links" href="https://www.bankofbaroda.in/-/locate-us/branches" target="_blank">Kindly Visit</a>



        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}