<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Canara Bank</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Canara Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number canara bank ,canara bank branch locator,locate canara bank branch, canara bank customer care number, canara bank customer care number 24x7, canara bank complaint status, canara bank 24 hour customer care, canara bank grievance email id, canara bank card customer care email id, canara bank customer care email id, canara bank branch manager contact number,customer service number canara bank">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Canara Bank Customer Care Details</h1>

        <h2 class="list-heading1">Call Centre 24x7 Toll Free No </h2>
        <p class="list-content">1800 425 0018 <br> 1800 103  0018 <br> 1800 208 3333 <br> 1800 3011 3333</p>

        <h2 class="list-heading1">Canara Bank, Head Office, Bangalore </h2>
        <p class="list-content">080- 22221581/582/0490/0491/1788/ 1789/ 1790/1984/1985/1986</p>

        <h2 class="list-heading1">Enterprise Fraud Risk Management (EFRM) Online Monitoring (OM) Section HO </h2>
        <p class="list-content">+918046200400 (incoming call not available)</p>

        <h2 class="list-heading1">Non Toll Free Numbers (if calling from outside India) </h2>
        <p class="list-content">+91-80-22064232</p>



        <h2 class="list-heading1">Branch Details here</h2>
        <a class="list-links" href="https://canarabank.com/locator.aspx" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Reach Us here</h2>
        <a class="list-links" href="https://canarabank.com/reachus.aspx" target="_blank">Kindly Visit</a>


        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}