<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Central Bank Of India </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Central Bank of India Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number central bank of india ,
    central bank of india branch locator,locate central bank of india branch, central bank of india customer care number, central bank of india customer care number 24x7, central bank of india complaint status, central bank of india 24 hour customer care, central bank of india grievance email id, central bank of india card customer care email id, central bank of india customer care email id, central bank of india branch manager contact number,customer service number central bank of india">


    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Central Bank Of India Customer Care Details</h1>

        <h2 class="list-heading1">Call Centre  24x7 Toll Free No </h2>
        <h3 class="list-subheading1">Technical issues and customer related issues</h3>
        <p class="list-content">1800 22 1911</p>

        <h2 class="list-heading1">National Toll-Free </h2>
        <p class="list-content">1800-110-001 <br> 1800-180-1111</p>

        <h2 class="list-heading1">UPI and BHIM app (for Technical issue) </h2>
        <p class="list-content">1800 22 1911</p>

        <h2 class="list-heading1">UPI and BHIM app (for Reversal/Failed transaction) </h2>
        <p class="list-content">022-61648613</p>

        <h2 class="list-heading1">NEFT Handling Team </h2>
        <p class="list-content">022-22637966 <br> 022-22637967 </p>

        <h2 class="list-heading1">PMJDY grievance redressal Email ID </h2>
        <p class="list-content">cmoper@centralbank.co.in </p>




        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}