<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Citibank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Citi Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number citi bank , citi bank branch locator,locate citi bank branch, citi bank customer care number, citi bank customer care number 24x7, citi bank complaint status, citi bank 24 hour customer care, citi bank grievance email id, citi bank card customer care email id, citi bank customer care email id, citi bank branch manager contact number,customer service number citi bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Citibank Customer Care Details</h1>

        <h2 class="list-heading1">Call Centre  </h2>
        <p class="list-content">1800 267 2425 / 022 4955 02400 (Toll Free No) <br> +91 22 4955 2425 (local dialing) <br> +91 44 6698 2136 (local dialing)</p>

        <h2 class="list-heading1">NRI customers  </h2>
        <p class="list-content">+91 22 4955 2484</p>

        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.online.citibank.co.in/customerservice/branch-atm-locations.htm?eOfferCode=INBABATBLBHAT" target="_blank">Kindly Visit</a>

      
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}