<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | City Union Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find City Union Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number city union bank ,city union bank branch locator,locate city union bank branch, city union bank customer care number, city union bank customer care number 24x7, city union bank complaint status, city union bank 24 hour customer care, city union bank grievance email id, city union bank card customer care email id, city union bank customer care email id, city union bank branch manager contact number,customer service number city union bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Citi Union Bank Customer Care Details</h1>

        <h2 class="list-heading1">Contact Administrative Office  </h2>
        <p class="list-content">0435-2402322 <br> 2401622</p>

        <h2 class="list-heading1">Credit card related queries  </h2>
        <p class="list-content"> 044-71225000 <br> email:customercare@cityunionbank.com</p>

        <h2 class="list-heading1"> Administrative Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">City Union Bank Ltd <br> "Narayana" No.24B,Gandhi Nagar <br> Kumbakonam-612001</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">0435-2402322, 2401622 &nbsp;&nbsp; Fax: 0435-2431746</p>

      
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}