<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | CSB Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Csb bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number csb bank ,csb bank branch locator,locate csb bank branch, csb bank customer care number, csb bank customer care number 24x7, csb bank complaint status, csb bank 24 hour customer care, csb bank grievance email id, csb bank card customer care email id, csb bank customer care email id, csb bank branch manager contact number,customer service number csb bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">CSB Bank Customer Care Details</h1>

        <h2 class="list-heading1">Call Centre (Toll free)  </h2>
        <p class="list-content">1800 266 9090</p>

        <h2 class="list-heading1">Call Centre (Applicable charges)  </h2>
        <p class="list-content">+91 0422-2228422 <br> +91 0422-6612300 </p>

        <h2 class="list-heading1">Outside India  (ISD charges applicable) </h2>
        <p class="list-content">+91-422-6612300</p>

        <h2 class="list-heading1">ATM related queries </h2>
        <p class="list-content">0484 - 6451631, 2368032 <br>Email : atm@csb.co.in</p>


        <h2 class="list-heading1">Head Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">CSB Bhavan, P.O Box No. 502, <br> St. Mary’s College Road, <br> Thrissur - 680 020, Kerala, India. <br> email: branchservice@csb.co.in</p>


        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.csb.co.in/atm" target="_blank">Kindly Visit</a>

      
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}