<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | ICICI Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find ICICI bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number icici bank ,icici bank branch locator,locate icici bank branch, icici bank customer care number, icici bank customer care number 24x7, icici bank complaint status, icici bank 24 hour customer care, icici bank grievance email id, icici bank card customer care email id, icici bank customer care email id, icici bank branch manager contact number,customer service number icici bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">ICICI Bank Customer Care Details</h1>

        <h2 class="list-heading1">Personal Banking </h2>
        <p class="list-content"> 1860 120 7777 <br><br> Chennai: 044 33667777 <br> Delhi: 011 33667777 <br> Kolkata: 033 33667777 <br>Mumbai: 022 33667777 <br> Domestic Customers Travelling Overseas: +91-40-7140 3333 </p>

        <h2 class="list-heading1">Wealth / Private Banking </h2>
        <p class="list-content">1800 103 8181 <br> 1860 120 3399</p>

        <h2 class="list-heading1">Corporate / Business/ Retail Institutional Banking </h2>
        <p class="list-content">1860 120 6699 <br><br> Chennai: 044 33446699 <br> Delhi: 011 33446699 <br> Kolkata: 033 33446699 <br>Mumbai: 022 33446699 <br> Domestic Customers Travelling Overseas: +91-22-3344 6699</p>

        <h2 class="list-heading1">Credit Card Toll Free</h2>
        <p class="list-content">1800 1020 123</p>

        <h2 class="list-heading1">Credit Card Customer Care</h2>
        <p class="list-content">022 3366 7777</p>

        <h2 class="list-heading1">Register your grievance by dialling</h2>
        <p class="list-content">1800 200 3344 (9.00 a.m. to 06.00 p.m.)</p>

    
        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">ICICI Bank Tower,Near Chakli Circle, Old Padra Road, Vadodara 390007, Gujarat, India.</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">+91-22-33667777</p>

        <h2 class="list-heading1">Corporate Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">ICICI Bank Towers, Bandra-Kurla Complex, Mumbai 400 051</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">+91-22-33667777  &nbsp;&nbsp;&nbsp; Fax : +91-22-26531122</p>
      
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}