<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | IDBI Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find IDBI bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number idbi bank ,idbi bank branch locator,locate idbi bank branch, idbi bank customer care number, idbi bank customer care number 24x7, idbi bank complaint status, idbi bank 24 hour customer care, idbi bank grievance email id, idbi bank card customer care email id, idbi bank customer care email id, idbi bank branch manager contact number,customer service number idbi bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">IDBI Bank Customer Care Details</h1>

        <h2 class="list-heading1">Toll-Free Numbers </h2>
        <p class="list-content"> 1800-209-4324 <br>1800-22-1070</p>

        <h2 class="list-heading1">Call Centre Numbers (Chargeable for customers) </h2>
        <p class="list-content">022-67719100 <br> 0091-22-67719100</p>

        <h2 class="list-heading1">Hotlisting </h2>
        <p class="list-content">1800-22-6999</p>

        <h2 class="list-heading1">Credit Card Queries</h2>
        <p class="list-content">1800 425 7600 (Toll free) <br> 022 - 4042 6013 (Call Charges Applicable) <br> email: idbicards@idbi.co.in</p>

        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://apps.idbibank.in/idbiapp/branch-atm.aspx" target="_blank">Kindly Visit</a>
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}