<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | IDFC Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find IDFC bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number idfc bank ,idfc bank branch locator,locate idfc bank branch, idfc bank customer care number, idfc bank customer care number 24x7, idfc bank complaint status, idfc bank 24 hour customer care, idfc bank grievance email id, idfc bank card customer care email id, idfc bank customer care email id, idfc bank branch manager contact number,customer service number idfc bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">IDFC Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1800 419 4332	</p>

        <h2 class="list-heading1">Loans</h2>
        <p class="list-content">1860 500 9900	</p>

        <h2 class="list-heading1">Rural Banking	 </h2>
        <p class="list-content">1800 419 8332 (9:30 am to 6:00 pm)	</p>

        <h2 class="list-heading1">NRI Number 24x7</h2>
        <p class="list-content">022 6248 5152	</p>

        <h2 class="list-heading1">Credit Card 24x7	</h2>
        <p class="list-content">1860 500 1111</p>

        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">DFC FIRST Bank Ltd KRM Tower, 7th Floor, No. 1, Harrington Road, Chetpet, Chennai - 600031, Tamil Nadu, India</p>


        <h2 class="list-heading1">Corporate Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">IDFC FIRST Bank Ltd Naman Chambers, C-32, G-Block, Bandra-Kurla Complex, Bandra East, Mumbai - 400051, India</p>

        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.idfcfirstbank.com/support/branches" target="_blank">Kindly Visit</a>
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}