<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Indian Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Indian bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number indian bank ,indian bank branch locator,locate indian bank branch, indian bank customer care number, indian bank customer care number 24x7, indian bank complaint status, indian bank 24 hour customer care, indian bank grievance email id, indian bank card customer care email id, indian bank customer care email id, indian bank branch manager contact number,customer service number indian bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Indian Bank Customer Care Details</h1>

        <h2 class="list-heading1">National Toll Free No</h2>
        <p class="list-content"> 1800 425 00 000	</p>

        <h2 class="list-heading1">Corporate Office, Customer Service</h2>
        <p class="list-content">044-25279978 <br> 044-25279979	</p>

        <h2 class="list-heading1">Corporate Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Indian Bank, Corporate Office, PB No: 5555, 254-260, Avvai Shanmugam Salai, Royapettah, Chennai – 600 014</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">044 28134300</p>


        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://indianbank.in/departments/online-customer-complaints/#!" target="_blank">Kindly Visit</a>
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}