<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | India Post Payment Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find India Post Payment Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number india post payment bank ,india post payment bank branch locator,locate india post payment bank branch, india post payment bank customer care number, india post payment bank customer care number 24x7, india post payment bank complaint status, india post payment bank 24 hour customer care, india post payment bank grievance email id, india post payment bank card customer care email id, india post payment bank customer care email id, india post payment bank branch manager contact number,customer service number india post payment bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">India Post Payment Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content"> 1800 8899 860 <br> Email: contact@ippbonline.in	</p>

        <h2 class="list-heading1">For queries or complaints - Dial</h2>
        <p class="list-content">155299 (Charges apply as per your telecom plan)	</p>


        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://ippbonline.com/web/ippb/locate-us" target="_blank">Kindly Visit</a>
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}