<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kerela Gramin Bank </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Kerela Gramin Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number kerela gramin bank ,kerela gramin bank branch locator,locate kerela gramin bank branch, kerela gramin bank customer care number, kerela gramin bank customer care number 24x7, kerela gramin bank complaint status, kerela gramin bank 24 hour customer care, kerela gramin bank grievance email id, kerela gramin bank card customer care email id, kerela gramin bank customer care email id, kerela gramin bank branch manager contact number,customer service number kerela gramin bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kerela Gramin Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content"> 0483 2733509 / 0484 2912400 <br> Email: customercare.kgb@kerelagbank.com / kgbho@kerelagbank.com <br>Fax: 0483 2736987</p>
        

        <h2 class="list-heading1">Branch Details here</h2>
        <a class="list-links" href="https://keralagbank.com/locatebranch" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1"> ATM Details here</h2>
        <a class="list-links" href="https://keralagbank.com/locateatm" target="_blank">Kindly Visit</a>
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}