<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kotak Mahindra Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Kotak Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number kotak bank ,kotak bank branch locator,locate kotak bank branch, kotak bank customer care number, kotak bank customer care number 24x7, kotak bank complaint status, kotak bank 24 hour customer care, kotak bank grievance email id, kotak bank card customer care email id, kotak bank customer care email id, kotak bank branch manager contact number,customer service number kotak bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kotak Mahindra Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer care </h2>
        <p class="list-content">1860 266 2666 <br> 1860 266 0811</p>

        <h2 class="list-heading1">Fraud or any unauthorized transaction </h2>
        <p class="list-content">1800 209 0000</p>

        <h2 class="list-heading1">NRI Customers</h2>
        <p class="list-content">Usa: 1855-3656767	<br> Australia: 001180044990000	 <br> Hong Kong: 00180044990000 <br> UK: 0080044990000 <br>Canada: 18557684020 <br> Singapore: +658001013054 <br> UAE: 80001830148</p>

        <h2 class="list-heading1">Registered Office27</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">BKC, C 27, G Block,Bandra Kurla Complex,Bandra (E), Mumbai - 400051</p>

        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.kotak.com/en/reach-us.html" target="_blank">Kindly Visit</a>

        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}