<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Karur Vysya Bank  </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Karur Vysya bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number karur vysya bank ,karur vysya bank branch locator,locate karur vysya bank branch, karur vysya bank customer care number, karur vysya bank customer care number 24x7, karur vysya bank complaint status, karur vysya bank 24 hour customer care, karur vysya bank grievance email id, karur vysya bank card customer care email id, karur vysya bank customer care email id, karur vysya bank branch manager contact number,customer service number karur vysya bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Karur Vysya Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content">  1860 258 1916	</p>

        <h2 class="list-heading1">Outside India</h2>
        <p class="list-content">+91 44 - 66217600</p>

        <h2 class="list-heading1">For Grievances Related to Corporate Credit Card</h2>
        <p class="list-content">1800 419 6500 <br> 022 – 40426031 
        <br> Email: creditcardsupport@kvbmail.com <br> Email: customersupport@kvbmail.com</p>

        <h2 class="list-heading1">Lost or Stolen Debit Card</h2>
        <p class="list-content">1860 258 1916 <br> E-mail : customersupport@kvbmail.com</p>



        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.kvb.co.in/locate-us/branch/" target="_blank">Kindly Visit</a>
        <hr>
       {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}