<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Paytm Payment Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Paytm Payment Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number paytm payment bank ,paytm payment bank branch locator,locate paytm payment bank branch, paytm payment bank customer care number, paytm payment bank customer care number 24x7, paytm payment bank complaint status, paytm payment bank 24 hour customer care, paytm payment bank grievance email id, paytm payment bank card customer care email id, paytm payment bank customer care email id, paytm payment bank branch manager contact number,customer service number paytm payment bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Paytm Payment Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer care </h2>
        <p class="list-content">0120-4456-456</p>

        <h2 class="list-heading1">Registered Office:</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">136, 1st Floor, Devika Tower, Nehru Place, New Delhi 110019 CIN: U65999DL2016PLC304713</p>

        <h2 class="list-heading1">Corporate Office:</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">V.J. Business Towers, Sector 125, Noida, Uttar Pradesh 201303</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content"> 0120-4818901</p>


        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.paytmbank.com/atm" target="_blank">Kindly Visit</a>

        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}