<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Punjab National Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Punjab National Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number punjab national bank ,punjab national bank branch locator,locate punjab national bank branch, punjab national bank customer care number, punjab national bank customer care number 24x7, punjab national bank complaint status, punjab national bank 24 hour customer care, punjab national bank grievance email id, punjab national bank card customer care email id, punjab national bank customer care email id, punjab national bank branch manager contact number,customer service number punjab national bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Punjab National Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer care (Toll Free)</h2>
        <p class="list-content">1800 180 2222 <br> 1800 103 2222</p>

        <h2 class="list-heading1">Tolled No</h2>
        <p class="list-content">0120-2490000</p>

        <h2 class="list-heading1">Landline</h2>
        <p class="list-content">011-28044907 <br> Email: care@pnb.co.in</p>

        <h2 class="list-heading1">Credit Card Helpline </h2>
        <p class="list-content">1800 180 2345 <br> 0120-4616200</p>

        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}