<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Saraswat Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Saraswat Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number saraswat bank ,saraswat bank branch locator,locate saraswat bank branch, saraswat bank customer care number, saraswat bank customer care number 24x7, saraswat bank complaint status, saraswat bank 24 hour customer care, saraswat bank grievance email id, saraswat bank card customer care email id, saraswat bank customer care email id, saraswat bank branch manager contact number,customer service number saraswat bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Saraswat Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer care 24x7 </h2>
        <p class="list-content">1800 229 999 <br> 1800 266 5555 <br> 022 41572070 <br> customersupport@saraswatbank.com <br> customerservicecentre@saraswatbank.com</p>

        <h2 class="list-heading1">Credit card </h2>
        <p class="list-content">1800 266 9545 <br> Email: creditcards@saraswatbank.com</p>


        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.saraswatbank.com/locator.aspx?id=LocateUs" target="_blank">Kindly Visit</a>

        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}