<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Standard Chartered Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Standard Chartered Bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number standard chartered bank ,standard chartered bank branch locator,locate standard chartered bank branch, standard chartered bank customer care number, standard chartered bank customer care number 24x7, standard chartered bank complaint status, standard chartered bank 24 hour customer care, standard chartered bank grievance email id, standard chartered bank card customer care email id, standard chartered bank customer care email id, standard chartered bank branch manager contact number,customer service number standard chartered bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Standard Chartered Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer care </h2> <br>
        <p class="list-content"><b>Ahmedabad, Bangalore, Chennai, Delhi, Hyderabad, Kolkata, Mumbai, Pune </b><br> 	6601 4444 / 3940 4444</p> <br>
        <p class="list-content"><b>Allahabad, Amritsar, Bhubaneshwar, Indore, Jalandhar, Kanpur, Lucknow, Ludhiana, Patna, Vadodara. </b><br> 6601 444
</p> <br>
        <p class="list-content"><b> Chandigarh, Cochin/Ernakulam, Coimbatore, Jaipur, Nagpur, Rajkot, Surat.</b> <br> 	3940 444 / 6601 444</p> <br>
        <p class="list-content"><b>Gurgaon, Noida, Mathura, Dehradun, Saharanpur </b><br> 011 - 66014444 / 011 - 39404444</p> <br>
        <p class="list-content"><b>Jalgaon </b><br> 	022 - 66014444 / 022 - 39404444</p> <br>
        <p class="list-content"><b>Guwahati, Cuttack, Siliguri </b><br> 	033 - 66014444 / 033 - 39404444</p> <br>
        <p class="list-content"><b>Mysore </b><br> 080 - 66014444 / 080 - 39404444</p> <br>
        <p class="list-content"><b>Thiruvananthpuram, Vishakhapatnam </b><br> 044 - 66014444 / 044 - 39404444</p> <br>
        <p class="list-content"><b>Proddatur </b><br> 	040 - 66014444 / 040 - 39404444</p>  


                <h2 class="list-heading1">Email</h2> 
        <p class="list-content">Customer.Care@sc.com</p> 




        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.sc.com/in/contact-us/branch-contact/" target="_blank">Kindly Visit</a>

        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}