<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | UCO Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find UCO bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number uco bank , uco bank branch locator,locate uco bank branch, uco bank customer care number, uco bank customer care number 24x7, uco bank complaint status, uco bank 24 hour customer care, uco bank grievance email id, uco bank card customer care email id, uco bank customer care email id, uco bank branch manager contact number,customer service number uco bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">UCO Customer Care Details</h1>

        <h2 class="list-heading1">Customer care (Toll Free) </h2>
        <p class="list-content">1800 103 0123 </p>

        <h2 class="list-heading1">For ATM hotlisting and helpline mail </h2>
        <p class="list-content">uco.custcare@ucobank.co.in</p>
        
        <h2 class="list-heading1">Other ATM Queries </h2>
        <p class="list-content">hoatm.calcutta@ucobank.co.in </p>

        <h2 class="list-heading1">E-banking related queries </h2>
        <p class="list-content">hoe_banking.calcutta@ucobank.co.in </p>

        <h2 class="list-heading1">Customer Grievances</h2>
        <p class="list-content">	hopgr.calcutta@ucobank.co.in </p>

        <h2 class="list-heading1">Customer Feedback/ suggestions </h2>
        <p class="list-content">customercare.calcutta@ucobank.co.in </p>

        <h2 class="list-heading1">M-banking related queries </h2>
        <p class="list-content">	uco.mbanking@ucobank.co.in </p>

        <h2 class="list-heading1">Corporate Office  </h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">UCO Bank Head Office, <br> 10, B T M Sarani, Kolkata - 700 001 <br> West Bengal, India.</p>

        <h2 class="list-heading1">Branch and ATM Details here</h2>
        <a class="list-links" href="https://www.ucobank.com/english/locator.aspx" target="_blank">Kindly Visit</a>


        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}