<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Yes Bank</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Yes bank Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number yes bank ,yes bank branch locator,locate yes bank branch, yes bank customer care number, yes bank customer care number 24x7, yes bank complaint status, yes bank 24 hour customer care, yes bank grievance email id, yes bank card customer care email id, yes bank customer care email id, yes bank branch manager contact number,customer service number yes bank">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Yes Bank Customer Care Details</h1>

        <h2 class="list-heading1">Customer care (Toll Free)  </h2>
        <p class="list-content">1800 1200   </p>

        <h2 class="list-heading1">Customer care outside India </h2>
        <p class="list-content">From Outside India: +91 22 4935 0000 <br> Usa: 1833 380 0149 <br> Canada: 1833 491 0559 <br> UK: 800 048 9153 <br> UAE: 8000 3570 2510 </p>

        <h2 class="list-heading1">YES BANK Credit Cards </h2>
        <p class="list-content">1800 103 1212 (Toll free in India)  <br> +91 22 4935 0000 (Outside India) <br> Email: yestouchcc@yesbank.in</p>

        <h2 class="list-heading1">Board line Numbers  </h2>
        <p class="list-content">+91 (22) 5091 9800 <br> +91 (22) 6507 9800 </p>

        <h2 class="list-heading1">Corporate Office  </h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">YES BANK House, <br> Off Western Express Highway,<br> Santacruz (East), Mumbai - 400055</p>
        <p class="list-content">Email: yestouch@yesbank.in</p>

        <h2 class="list-heading1">Branch Details here</h2>
        <a class="list-links" href="https://www.yesbank.in/pdf?name=branch_list_for_website_pdf.pdf" target="_blank">Kindly Visit</a>



        <hr>

        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}