<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Amazon.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Amazon India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number amazon ,amazon branch locator,locate amazon branch, amazon customer care number, amazon customer care number 24x7, amazon complaint status, amazon 24 hour customer care, amazon grievance email id, amazon customer care email id, amazon customer care email id, amazon branch manager contact number,customer service number amazon,customer care number amazon india ,amazon india branch locator,locate amazon india branch, amazon india customer care number, amazon india customer care number 24x7, amazon india complaint status, amazon india 24 hour customer care, amazon india grievance email id, amazon india customer care email id, amazon india customer care email id, amazon india branch manager contact number,customer service number amazon india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Amazon.in Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1800-3000-9009    </p>

        <h2 class="list-heading1">Customer Care (For Sellers) </h2>
        <p class="list-content">1800-419-7355   </p>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.amazon.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}