<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bigbasket.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Bigbasket India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bigbasket ,bigbasket branch locator,locate bigbasket branch, bigbasket customer care number, bigbasket customer care number 24x7, bigbasket complaint status, bigbasket 24 hour customer care, bigbasket grievance email id, bigbasket customer care email id, bigbasket customer care email id, bigbasket branch manager contact number,customer service number bigbasket,customer care number bigbasket india ,bigbasket india branch locator,locate bigbasket india branch, bigbasket india customer care number, bigbasket india customer care number 24x7, bigbasket india complaint status, bigbasket india 24 hour customer care, bigbasket india grievance email id, bigbasket india customer care email id, bigbasket india customer care email id, bigbasket india branch manager contact number,customer service number bigbasket india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bigbasket.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> 1860 123 1000  <br> Email: customerservice@bigbasket.com  </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bigbasket.com/?nc=logo" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}