<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | BookMyShow.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Bookmyshow.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bookmyshow ,bookmyshow branch locator,locate bookmyshow branch, bookmyshow customer care number, bookmyshow customer care number 24x7, bookmyshow complaint status, bookmyshow 24 hour customer care, bookmyshow grievance email id, bookmyshow customer care email id, bookmyshow customer care email id, bookmyshow branch manager contact number,customer service number bookmyshow,customer care number bookmyshow india ,bookmyshow india branch locator,locate bookmyshow india branch, bookmyshow india customer care number, bookmyshow india customer care number 24x7, bookmyshow india complaint status, bookmyshow india 24 hour customer care, bookmyshow india grievance email id, bookmyshow india customer care email id, bookmyshow india customer care email id, bookmyshow india branch manager contact number,customer service number bookmyshow india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">BookMyShow.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">02261445050 <br> Email: 	escalations@bookmyshow.com, allears@bookmyshow.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://in.bookmyshow.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}