<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Buytea.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Buytea.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number buytea ,buytea branch locator,locate buytea branch, buytea customer care number, buytea customer care number 24x7, buytea complaint status, buytea 24 hour customer care, buytea grievance email id, buytea customer care email id, buytea customer care email id, buytea branch manager contact number,customer service number buytea,customer care number buytea india ,buytea india branch locator,locate buytea india branch, buytea india customer care number, buytea india customer care number 24x7, buytea india complaint status, buytea india 24 hour customer care, buytea india grievance email id, buytea india customer care email id, buytea india customer care email id, buytea india branch manager contact number,customer service number buytea india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Buytea.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">+91 79 66066246  <br> Email: feedback@waghbakritea.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.buytea.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}