<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Caratlane.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find caratlane.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number caratlane ,caratlane branch locator,locate caratlane branch, caratlane customer care number, caratlane customer care number 24x7, caratlane complaint status, caratlane 24 hour customer care, caratlane grievance email id, caratlane customer care email id, caratlane customer care email id, caratlane branch manager contact number,customer service number caratlane,customer care number caratlane india ,caratlane india branch locator,locate caratlane india branch, caratlane india customer care number, caratlane india customer care number 24x7, caratlane india complaint status, caratlane india 24 hour customer care, caratlane india grievance email id, caratlane india customer care email id, caratlane india customer care email id, caratlane india branch manager contact number,customer service number caratlane india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Caratlane.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">+91-44-42935000   <br> Email: contactus@caratlane.com  </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.caratlane.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}