<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Clovia.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find clovia.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number clovia ,clovia branch locator,locate clovia branch, clovia customer care number, clovia customer care number 24x7, clovia complaint status, clovia 24 hour customer care, clovia grievance email id, clovia customer care email id, clovia customer care email id, clovia branch manager contact number,customer service number clovia,customer care number clovia india ,clovia india branch locator,locate clovia india branch, clovia india customer care number, clovia india customer care number 24x7, clovia india complaint status, clovia india 24 hour customer care, clovia india grievance email id, clovia india customer care email id, clovia india customer care email id, clovia india branch manager contact number,customer service number clovia india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Clovia.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">0120-484-2200<br>+91 813 090 9028 (Whatsapp)  <br> Email: care@clovia.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.clovia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}