<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Craftsvilla.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find craftsvilla.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number craftsvilla ,craftsvilla branch locator,locate craftsvilla branch, craftsvilla customer care number, craftsvilla customer care number 24x7, craftsvilla complaint status, craftsvilla 24 hour customer care, craftsvilla grievance email id, craftsvilla customer care email id, craftsvilla customer care email id, craftsvilla branch manager contact number,customer service number craftsvilla,customer care number craftsvilla india ,craftsvilla india branch locator,locate craftsvilla india branch, craftsvilla india customer care number, craftsvilla india customer care number 24x7, craftsvilla india complaint status, craftsvilla india 24 hour customer care, craftsvilla india grievance email id, craftsvilla india customer care email id, craftsvilla india customer care email id, craftsvilla india branch manager contact number,customer service number craftsvilla india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Craftsvilla.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">8291935677  (Monday To Saturday, 10:00 AM to 7:00 PM)   <br> Email: customercare@craftsvilla.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.craftsvilla.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}