<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Croma.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find croma.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number croma ,croma branch locator,locate croma branch, croma customer care number, croma customer care number 24x7, croma complaint status, croma 24 hour customer care, croma grievance email id, croma customer care email id, croma customer care email id, croma branch manager contact number,customer service number croma,customer care number croma india ,croma india branch locator,locate croma india branch, croma india customer care number, croma india customer care number 24x7, croma india complaint status, croma india 24 hour customer care, croma india grievance email id, croma india customer care email id, croma india customer care email id, croma india branch manager contact number,customer service number croma india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Croma.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1860-266-27662 <br> 040-4651 7910  <br> Email: customersupport@croma.com, grievance.officer@croma.com  </p>


        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.croma.com/store?location=default" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.croma.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}