<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Decathlon.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find decathlon Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number decathlon ,decathlon branch locator,locate decathlon branch, decathlon customer care number, decathlon customer care number 24x7, decathlon complaint status, decathlon 24 hour customer care, decathlon grievance email id, decathlon customer care email id, decathlon customer care email id, decathlon branch manager contact number,customer service number decathlon,customer care number decathlon india ,decathlon india branch locator,locate decathlon india branch, decathlon india customer care number, decathlon india customer care number 24x7, decathlon india complaint status, decathlon india 24 hour customer care, decathlon india grievance email id, decathlon india customer care email id, decathlon india customer care email id, decathlon india branch manager contact number,customer service number decathlon india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Decathlon.in Customer Care Details</h1>

        <h2 class="list-heading1">Contact Stores Here</h2>
        <a class="list-links" href="https://www.decathlon.in/cms/decathlon-stores-2020" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.decathlon.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}