<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Ebay.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find ebay.in Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number ebay ,ebay branch locator,locate ebay branch, ebay customer care number, ebay customer care number 24x7, ebay complaint status, ebay 24 hour customer care, ebay grievance email id, ebay customer care email id, ebay customer care email id, ebay branch manager contact number,customer service number ebay,customer care number ebay india ,ebay india branch locator,locate ebay india branch, ebay india customer care number, ebay india customer care number 24x7, ebay india complaint status, ebay india 24 hour customer care, ebay india grievance email id, ebay india customer care email id, ebay india customer care email id, ebay india branch manager contact number,customer service number ebay india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Ebay.in Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1-866-540-3229 </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.ebay.in/pages/help/account/my-ebay.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}