<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Faballey.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find faballey.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number faballey ,faballey branch locator,locate faballey branch, faballey customer care number, faballey customer care number 24x7, faballey complaint status, faballey 24 hour customer care, faballey grievance email id, faballey customer care email id, faballey customer care email id, faballey branch manager contact number,customer service number faballey,customer care number faballey india ,faballey india branch locator,locate faballey india branch, faballey india customer care number, faballey india customer care number 24x7, faballey india complaint status, faballey india 24 hour customer care, faballey india grievance email id, faballey india customer care email id, faballey india customer care email id, faballey india branch manager contact number,customer service number faballey india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Faballey.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> +91-8929987349 <br> 0120-6850262   </p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.faballey.com/store-locator" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.faballey.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}