<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Fabindia.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find fabindia.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number fabindia ,fabindia branch locator,locate fabindia branch, fabindia customer care number, fabindia customer care number 24x7, fabindia complaint status, fabindia 24 hour customer care, fabindia grievance email id, fabindia customer care email id, fabindia customer care email id, fabindia branch manager contact number,customer service number fabindia,customer care number fabindia india ,fabindia india branch locator,locate fabindia india branch, fabindia india customer care number, fabindia india customer care number 24x7, fabindia india complaint status, fabindia india 24 hour customer care, fabindia india grievance email id, fabindia india customer care email id, fabindia india customer care email id, fabindia india branch manager contact number,customer service number fabindia india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Fabindia.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1800-100-1212 (10:00 AM to 7:00 PM. Monday to Sunday.)<br>+91 80104 88888 (9:00 AM to 6:00 PM. Monday to Saturday.) <br> Email: fabfamily@fabindia.net, support@fabindia.net   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.fabindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}