<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Gaatha.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find gaatha.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number gaatha ,gaatha branch locator,locate gaatha branch, gaatha customer care number, gaatha customer care number 24x7, gaatha complaint status, gaatha 24 hour customer care, gaatha grievance email id, gaatha customer care email id, gaatha customer care email id, gaatha branch manager contact number,customer service number gaatha,customer care number gaatha india ,gaatha india branch locator,locate gaatha india branch, gaatha india customer care number, gaatha india customer care number 24x7, gaatha india complaint status, gaatha india 24 hour customer care, gaatha india grievance email id, gaatha india customer care email id, gaatha india customer care email id, gaatha india branch manager contact number,customer service number gaatha india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Gaatha.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">+91 079 2667 1008 <br> Email:  info@gaatha.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://gaatha.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}