<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Healthkart.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find healthkart.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number healthkart ,healthkart branch locator,locate healthkart branch, healthkart customer care number, healthkart customer care number 24x7, healthkart complaint status, healthkart 24 hour customer care, healthkart grievance email id, healthkart customer care email id, healthkart customer care email id, healthkart branch manager contact number,customer service number healthkart,customer care number healthkart india ,healthkart india branch locator,locate healthkart india branch, healthkart india customer care number, healthkart india customer care number 24x7, healthkart india complaint status, healthkart india 24 hour customer care, healthkart india grievance email id, healthkart india customer care email id, healthkart india customer care email id, healthkart india branch manager contact number,customer service number healthkart india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Healthkart.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">0124-4616444 (10:00 AM to 7:00 PM)  <br> Email: care@healthkart.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.healthkart.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}