<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Homesake.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find homesake.in Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number homesake ,homesake branch locator,locate homesake branch, homesake customer care number, homesake customer care number 24x7, homesake complaint status, homesake 24 hour customer care, homesake grievance email id, homesake customer care email id, homesake customer care email id, homesake branch manager contact number,customer service number homesake,customer care number homesake india ,homesake india branch locator,locate homesake india branch, homesake india customer care number, homesake india customer care number 24x7, homesake india complaint status, homesake india 24 hour customer care, homesake india grievance email id, homesake india customer care email id, homesake india customer care email id, homesake india branch manager contact number,customer service number homesake india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Homesake.in Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">0120 420 6972 <br> Email: info@Homesake.In   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.homesake.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}