<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Khelmart.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find khelmart.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number khelmart ,khelmart branch locator,locate khelmart branch, khelmart customer care number, khelmart customer care number 24x7, khelmart complaint status, khelmart 24 hour customer care, khelmart grievance email id, khelmart customer care email id, khelmart customer care email id, khelmart branch manager contact number,customer service number khelmart,customer care number khelmart india ,khelmart india branch locator,locate khelmart india branch, khelmart india customer care number, khelmart india customer care number 24x7, khelmart india complaint status, khelmart india 24 hour customer care, khelmart india grievance email id, khelmart india customer care email id, khelmart india customer care email id, khelmart india branch manager contact number,customer service number khelmart india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Khelmart.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> 11 40844616 Ext-1 <br>11 40844616 Ext-3 <br> 11 40844616 Ext-2 <br> <br>+91 - 11 40844616 (Mon - Sat 10:00 AM to 5:30 PM) <br> Email: care@khelmart.com, inquiry@khelmart.com </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://khelmart.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}