<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Koovs.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find koovs.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number koovs ,koovs branch locator,locate koovs branch, koovs customer care number, koovs customer care number 24x7, koovs complaint status, koovs 24 hour customer care, koovs grievance email id, koovs customer care email id, koovs customer care email id, koovs branch manager contact number,customer service number koovs,customer care number koovs india ,koovs india branch locator,locate koovs india branch, koovs india customer care number, koovs india customer care number 24x7, koovs india complaint status, koovs india 24 hour customer care, koovs india grievance email id, koovs india customer care email id, koovs india customer care email id, koovs india branch manager contact number,customer service number koovs india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Koovs.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">0124-6770000 (10:00 AM to 7:00 PM,  Monday to Saturday  )  <br> Email: care@koovs.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.koovs.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}