<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Naturesbasket.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find naturesbasket.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number naturesbasket ,naturesbasket branch locator,locate naturesbasket branch, naturesbasket customer care number, naturesbasket customer care number 24x7, naturesbasket complaint status, naturesbasket 24 hour customer care, naturesbasket grievance email id, naturesbasket customer care email id, naturesbasket customer care email id, naturesbasket branch manager contact number,customer service number naturesbasket,customer care number naturesbasket india ,naturesbasket india branch locator,locate naturesbasket india branch, naturesbasket india customer care number, naturesbasket india customer care number 24x7, naturesbasket india complaint status, naturesbasket india 24 hour customer care, naturesbasket india grievance email id, naturesbasket india customer care email id, naturesbasket india customer care email id, naturesbasket india branch manager contact number,customer service number naturesbasket india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Naturesbasket.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">+9188800 77745​ (09:00 AM to 09:00 PM)  <br> Email: cs@naturesbasket.co.in   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.naturesbasket.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}