<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Netmeds.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find netmeds.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number netmeds ,netmeds branch locator,locate netmeds branch, netmeds customer care number, netmeds customer care number 24x7, netmeds complaint status, netmeds 24 hour customer care, netmeds grievance email id, netmeds customer care email id, netmeds customer care email id, netmeds branch manager contact number,customer service number netmeds,customer care number netmeds india ,netmeds india branch locator,locate netmeds india branch, netmeds india customer care number, netmeds india customer care number 24x7, netmeds india complaint status, netmeds india 24 hour customer care, netmeds india grievance email id, netmeds india customer care email id, netmeds india customer care email id, netmeds india branch manager contact number,customer service number netmeds india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Netmeds.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> 	72007-12345 <br> Email: cs@netmeds.com  </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.netmeds.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}