<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Nykaa.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find nykaa.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number nykaa ,nykaa branch locator,locate nykaa branch, nykaa customer care number, nykaa customer care number 24x7, nykaa complaint status, nykaa 24 hour customer care, nykaa grievance email id, nykaa customer care email id, nykaa customer care email id, nykaa branch manager contact number,customer service number nykaa,customer care number nykaa india ,nykaa india branch locator,locate nykaa india branch, nykaa india customer care number, nykaa india customer care number 24x7, nykaa india complaint status, nykaa india 24 hour customer care, nykaa india grievance email id, nykaa india customer care email id, nykaa india customer care email id, nykaa india branch manager contact number,customer service number nykaa india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Nykaa.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1800-267-4444 (Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM) <br> Email: support@nykaa.com <br>Email:  internationalsupport@nykaa.com (International orders)   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.nykaa.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}