<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Petsworld.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find petsworld.in Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number petsworld ,petsworld branch locator,locate petsworld branch, petsworld customer care number, petsworld customer care number 24x7, petsworld complaint status, petsworld 24 hour customer care, petsworld grievance email id, petsworld customer care email id, petsworld customer care email id, petsworld branch manager contact number,customer service number petsworld,customer care number petsworld india ,petsworld india branch locator,locate petsworld india branch, petsworld india customer care number, petsworld india customer care number 24x7, petsworld india complaint status, petsworld india 24 hour customer care, petsworld india grievance email id, petsworld india customer care email id, petsworld india customer care email id, petsworld india branch manager contact number,customer service number petsworld india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Petsworld.in Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (10:00 AM to 7:00 PM)  </h2>
        <p class="list-content">0120-4052647 <br>  8744012035  <br> Email: support@petsworld.in   </p>

        <h2 class="list-heading1">Whatsapp (10:00 AM to 7:00 PM)  </h2>
        <p class="list-content">+91- 8744012053   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.petsworld.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}