<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Petshopindia.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find petshopindia.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number petshopindia ,petshopindia branch locator,locate petshopindia branch, petshopindia customer care number, petshopindia customer care number 24x7, petshopindia complaint status, petshopindia 24 hour customer care, petshopindia grievance email id, petshopindia customer care email id, petshopindia customer care email id, petshopindia branch manager contact number,customer service number petshopindia,customer care number petshopindia india ,petshopindia india branch locator,locate petshopindia india branch, petshopindia india customer care number, petshopindia india customer care number 24x7, petshopindia india complaint status, petshopindia india 24 hour customer care, petshopindia india grievance email id, petshopindia india customer care email id, petshopindia india customer care email id, petshopindia india branch manager contact number,customer service number petshopindia india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Petshopindia.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">+91-1147512264 (10:00 AM to 6:00 PM, Monday-Friday)  <br> Email: info@petshopindia.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.petshopindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}