<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Printland.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find printland.in Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number printland ,printland branch locator,locate printland branch, printland customer care number, printland customer care number 24x7, printland complaint status, printland 24 hour customer care, printland grievance email id, printland customer care email id, printland customer care email id, printland branch manager contact number,customer service number printland,customer care number printland india ,printland india branch locator,locate printland india branch, printland india customer care number, printland india customer care number 24x7, printland india complaint status, printland india 24 hour customer care, printland india grievance email id, printland india customer care email id, printland india customer care email id, printland india branch manager contact number,customer service number printland india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Printland.in  Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">011 - 42 222 888 (Mon-Sat, 10:00 AM-6:00 PM ) <br> Email: enquiry@printland.in   </p>

        <h2 class="list-heading1">Whatsapp  </h2>
        <p class="list-content">8448498154   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.printland.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}