<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Redbus.in </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find redbus.in Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number redbus ,redbus branch locator,locate redbus branch, redbus customer care number, redbus customer care number 24x7, redbus complaint status, redbus 24 hour customer care, redbus grievance email id, redbus customer care email id, redbus customer care email id, redbus branch manager contact number,customer service number redbus,customer care number redbus india ,redbus india branch locator,locate redbus india branch, redbus india customer care number, redbus india customer care number 24x7, redbus india complaint status, redbus india 24 hour customer care, redbus india grievance email id, redbus india customer care email id, redbus india customer care email id, redbus india branch manager contact number,customer service number redbus india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Redbus.in  Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">+919945600000  <br> Email: press@redbus.com (For Press enquiries)   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.redbus.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}