<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Shoppersstop.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find shoppersstop.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number shoppersstop ,shoppersstop branch locator,locate shoppersstop branch, shoppersstop customer care number, shoppersstop customer care number 24x7, shoppersstop complaint status, shoppersstop 24 hour customer care, shoppersstop grievance email id, shoppersstop customer care email id, shoppersstop customer care email id, shoppersstop branch manager contact number,customer service number shoppersstop,customer care number shoppersstop india ,shoppersstop india branch locator,locate shoppersstop india branch, shoppersstop india customer care number, shoppersstop india customer care number 24x7, shoppersstop india complaint status, shoppersstop india 24 hour customer care, shoppersstop india grievance email id, shoppersstop india customer care email id, shoppersstop india customer care email id, shoppersstop india branch manager contact number,customer service number shoppersstop india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Shoppersstop.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care ( 08:00AM to 10:00PM) </h2>
        <p class="list-content">1800-419-6648 <br> Email: customercare@shoppersstop.com   </p>

        
        <h2 class="list-heading1">For Grievance Related Queries: </h2>
        <p class="list-content">Email: Grievance.redressal@shoppersstop.com (Operational Timings: Mon-Fri: 10:00am to 5:00pm)   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.shoppersstop.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}