<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | ShopClues.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find shopclues.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number shopclues ,shopclues branch locator,locate shopclues branch, shopclues customer care number, shopclues customer care number 24x7, shopclues complaint status, shopclues 24 hour customer care, shopclues grievance email id, shopclues customer care email id, shopclues customer care email id, shopclues branch manager contact number,customer service number shopclues,customer care number shopclues india ,shopclues india branch locator,locate shopclues india branch, shopclues india customer care number, shopclues india customer care number 24x7, shopclues india complaint status, shopclues india 24 hour customer care, shopclues india grievance email id, shopclues india customer care email id, shopclues india customer care email id, shopclues india branch manager contact number,customer service number shopclues india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">ShopClues.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">0124-4669777 (9:30 AM - 6:30 PM, Mon-Fri) <br> Email: Customerservice@agoda.com   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://bazaar.shopclues.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}