<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Snapdeal.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find snapdeal.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number snapdeal ,snapdeal branch locator,locate snapdeal branch, snapdeal customer care number, snapdeal customer care number 24x7, snapdeal complaint status, snapdeal 24 hour customer care, snapdeal grievance email id, snapdeal customer care email id, snapdeal customer care email id, snapdeal branch manager contact number,customer service number snapdeal,customer care number snapdeal india ,snapdeal india branch locator,locate snapdeal india branch, snapdeal india customer care number, snapdeal india customer care number 24x7, snapdeal india complaint status, snapdeal india 24 hour customer care, snapdeal india grievance email id, snapdeal india customer care email id, snapdeal india customer care email id, snapdeal india branch manager contact number,customer service number snapdeal india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Snapdeal.com Customer Care Details</h1>

        <h2 class="list-heading1">Whatsapp Here</h2>
        <a class="list-links" href="https://api.whatsapp.com/send/?phone=%2B918130222868&text=Hi%2C+I+need+help+for+one+of+my+order.&app_absent=0" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.snapdeal.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}