<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Theindiacrafthouse.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find theindiacrafthouse.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number theindiacrafthouse ,theindiacrafthouse branch locator,locate theindiacrafthouse branch, theindiacrafthouse customer care number, theindiacrafthouse customer care number 24x7, theindiacrafthouse complaint status, theindiacrafthouse 24 hour customer care, theindiacrafthouse grievance email id, theindiacrafthouse customer care email id, theindiacrafthouse customer care email id, theindiacrafthouse branch manager contact number,customer service number theindiacrafthouse,customer care number theindiacrafthouse india ,theindiacrafthouse india branch locator,locate theindiacrafthouse india branch, theindiacrafthouse india customer care number, theindiacrafthouse india customer care number 24x7, theindiacrafthouse india complaint status, theindiacrafthouse india 24 hour customer care, theindiacrafthouse india grievance email id, theindiacrafthouse india customer care email id, theindiacrafthouse india customer care email id, theindiacrafthouse india branch manager contact number,customer service number theindiacrafthouse india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Theindiacrafthouse.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Mon - Sat 9:00 AM - 6:00 PM) </h2>
        <p class="list-content">0124 4309029<br> 9311227797(Whatsapp)  <br> Email: contact@theindiacrafthouse.com   </p>

        <h2 class="list-heading1">Customer Care (Outside India) </h2>
        <p class="list-content"> + 91 124 4309029<br>  + 91 9311227797(Whatsapp)   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://theindiacrafthouse.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}