<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Urbanladder.com </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find urbanladder.com Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number urbanladder ,urbanladder branch locator,locate urbanladder branch, urbanladder customer care number, urbanladder customer care number 24x7, urbanladder complaint status, urbanladder 24 hour customer care, urbanladder grievance email id, urbanladder customer care email id, urbanladder customer care email id, urbanladder branch manager contact number,customer service number urbanladder,customer care number urbanladder india ,urbanladder india branch locator,locate urbanladder india branch, urbanladder india customer care number, urbanladder india customer care number 24x7, urbanladder india complaint status, urbanladder india 24 hour customer care, urbanladder india grievance email id, urbanladder india customer care email id, urbanladder india customer care email id, urbanladder india branch manager contact number,customer service number urbanladder india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Urbanladder.com Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> 080-46666777  <br> Email:  hello@urbanladder.com,  bulk@urbanladder.com (Bulk Orders)  </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.urbanladder.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}