<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Ashok Leyland</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Ashok Leyland Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number ashok leyland ,ashok leyland branch locator,locate ashok leyland branch, ashok leyland customer care number, ashok leyland customer care number 24x7, ashok leyland complaint status, ashok leyland 24 hour customer care, ashok leyland grievance email id, ashok leyland card customer care email id, ashok leyland customer care email id, ashok leyland branch manager contact number,customer service number ashok leyland">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Ashok Leyland Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 (M&HCV queries)</h2>
        <p class="list-content">1800-266-3340 <br>Email: reachus@ashokleyland.com </p>

        <h2 class="list-heading1">Customer Care (LCV queries)</h2>
        <p class="list-content">1800-1022-666 (Timing : 6am to 10pm)</p>

        <h2 class="list-heading1">Power Solutions enquiries Toll free</h2>
        <p class="list-content"> 1800-419-19216 Timing: 6 am to 10 pm (Everyday) </p>

        <h2 class="list-heading1">For queries or grievances to Company Secretary </h2>
        <p class="list-content"> secretarial@ashokleyland.com</p>


        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.ashokleyland.com/in/en/dealer-locator" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.ashokleyland.com/in/en" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}