<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | BMW India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find BMW India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number bmw ,bmw branch locator,locate bmw branch, bmw customer care number, bmw customer care number 24x7, bmw complaint status, bmw 24 hour customer care, bmw grievance email id, bmw customer care email id, bmw customer care email id, bmw branch manager contact number,customer service number bmw,customer care number bmw india ,bmw india branch locator,locate bmw india branch, bmw india customer care number, bmw india customer care number 24x7, bmw india complaint status, bmw india 24 hour customer care, bmw india grievance email id, bmw india customer care email id, bmw india customer care email id, bmw india branch manager contact number,customer service number bmw india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">BMW India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content"> 1800 102 2269 (Monday to Saturday 09:00 to 18:30) <br> Email: contact.india@bmw.in </p>

        <h2 class="list-heading1">Supplier Partnership Enquiry</h2>
        <p class="list-content">  Email: Contact.purchasing@bmw.in </p>

        <h2 class="list-heading1">BMW INDIA PRIVATE LIMITED</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Corporate Identification Number: U35991HR1997PTC037496 <br> Registered office: 2nd Floor, Oberoi Centre, <br>
        Building No.11, DLF Cyber City, Phase-II, <br>Gurugram, Haryana 122 002, India  </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">  +91 124 4566 600  <br> Email: corporateaffairs@bmw.in <br> Fax: +91 124 4566602 </p>

        <h2 class="list-heading1">BMW INDIA FINANCIAL SERVICES PVT. LTD.</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Corporate Identification Number: U65921HR2009FTC039654 <br> Registered office: 1st Floor, Oberoi Centre, <br>
        Building No.11, DLF Cyber City, Phase-II, <br>Gurugram, Haryana 122 002, India  </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">  +91 124 4566 600    <br> Fax: +91 124 4566602 </p>



        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.bmw.in/en/fastlane/dealer-locator.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bmw.in/en/index.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}