<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Citroen India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Citroen India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number Citroen ,Citroen branch locator,locate Citroen branch, Citroen customer care number, Citroen customer care number 24x7, Citroen complaint status, Citroen 24 hour customer care, Citroen grievance email id, Citroen customer care email id, Citroen customer care email id, Citroen branch manager contact number,customer service number Citroen,customer care number Citroen india ,Citroen india branch locator,locate Citroen india branch, Citroen india customer care number, Citroen india customer care number 24x7, Citroen india complaint status, Citroen india 24 hour customer care, Citroen india grievance email id, Citroen india customer care email id, Citroen india customer care email id, Citroen india branch manager contact number,customer service number Citroen india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Citroen India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content"> 1800 267 1000<br> Email: contact@citroen-crm.in </p>

        <h2 class="list-heading1">Roadside Assistance</h2>
        <p class="list-content"> 1800 419 2000  </p>

        <h2 class="list-heading1">Whatsapp Chat</h2>
        <a class="list-links" href="https://api.whatsapp.com/send/?phone=917358502839&text=Hi&app_absent=0" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.citroen.in/dealer-locator" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.citroen.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}