<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Fiat India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Fiat India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number fiat ,fiat branch locator,locate fiat branch, fiat customer care number, fiat customer care number 24x7, fiat complaint status, fiat 24 hour customer care, fiat grievance email id, fiat customer care email id, fiat customer care email id, fiat branch manager contact number,customer service number fiat,customer care number fiat india ,fiat india branch locator,locate fiat india branch, fiat india customer care number, fiat india customer care number 24x7, fiat india complaint status, fiat india 24 hour customer care, fiat india grievance email id, fiat india customer care email id, fiat india customer care email id, fiat india branch manager contact number,customer service number fiat india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Fiat India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1800 209 5556  <br> Email: service.india@fcagroup.com  </p>


        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">FCA India Automobiles Private Limited<br> 1601 (III), 16th Floor, B Wing,The Capital, Plot #C-70, G Block, <br>
        Bandra Kurla Complex, <br>Bandra (East), Mumbai 400 051, India.  </p>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://www.fiat-india.com/home" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}