<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Ford India </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Ford India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number ford ,ford branch locator,locate ford branch, ford customer care number, ford customer care number 24x7, ford complaint status, ford 24 hour customer care, ford grievance email id, ford customer care email id, ford customer care email id, ford branch manager contact number,customer service number ford,customer care number ford india ,ford india branch locator,locate ford india branch, ford india customer care number, ford india customer care number 24x7, ford india complaint status, ford india 24 hour customer care, ford india grievance email id, ford india customer care email id, ford india customer care email id, ford india branch manager contact number,customer service number ford india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Ford India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care</h2>
        <p class="list-content">1800-419-2500 <br> 1800-103-2500  <br> Email: custmail@ford.com </p>
        
        <h2 class="list-heading1"> Roadside Assistance</h2>
        <p class="list-content">1800-209-7400 <br> 1800-103-7400 </p>

        <h2 class="list-heading1"> Dial a Ford</h2>
        <p class="list-content">1800-419-3000 </p>

        <h2 class="list-heading1">Corporate & Regional Office - North</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Ford India Pvt. Ltd.<br> 5th Floor, Plot No. 142, Chimes 142, Sector 44 Road, <br> Sector 44, Gurgaon 122003 Haryana, India </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">91-0124 – 6133000 <br> 91-0124 –6133001 </p>

        <h2 class="list-heading1">Regional Office - West</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Ford India Pvt. Ltd. <br>2401, 24th Floor, Kesar Solitaire Condominium, Plot Number 5,<br> Sector 19, Sanpada, Palm Beach Road Navi Mumbai - 400705 </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">91-022-67034300 </p>

        <h2 class="list-heading1">Regional Office - South</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Ford India Pvt. Ltd.<br> Block - 1B, 1st Floor, RMZ Millenia Business Park, 143, Dr MGR Road,<br> North Veeranam Salai Perungudi Chennai - 600096 </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">91-44-24551500 <br> Fax:  91-44-24559965</p>


        <h2 class="list-heading1">Regional Office - East </h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">Ford India Pvt. Ltd.<br> P S Srijan Maestro, 113 G, Matheswartala Road,<br> Office No. 601 & 602, 6th Floor, West Bengal Kolkata – 700046 </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">+91-33-71154300 <br> Email: corporatecommunications@forcemotors.com   </p>



        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.india.ford.com/locate-dealer/" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.india.ford.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}