<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Hindustan Motors  </title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Hindustan Motors India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number hindustan motors ,hindustan motors branch locator,locate hindustan motors branch, hindustan motors customer care number, hindustan motors customer care number 24x7, hindustan motors complaint status, hindustan motors 24 hour customer care, hindustan motors grievance email id, hindustan motors customer care email id, hindustan motors customer care email id, hindustan motors branch manager contact number,customer service number hindustan motors,customer care number hindustan motors india ,hindustan motors india branch locator,locate hindustan motors india branch, hindustan motors india customer care number, hindustan motors india customer care number 24x7, hindustan motors india complaint status, hindustan motors india 24 hour customer care, hindustan motors india grievance email id, hindustan motors india customer care email id, hindustan motors india customer care email id, hindustan motors india branch manager contact number,customer service number hindustan motors india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Hindustan Motors Customer Care Details</h1>


        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">	Hindustan Motors Limited,<br> Birla Building, 10th floor, Western Side 9/1, R. N. Mukherjee Road,<br>Kolkata - 700001 West Bengal</p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">	91-33-30533700 <br> 91-33-30410900 <br> Fax : 91-33-22480055 </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://hindmotor.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}