<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Kerala Automobiles Limited</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Kerala Automobiles India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number kerala automobiles ,kerala automobiles branch locator,locate kerala automobiles branch, kerala automobiles customer care number, kerala automobiles customer care number 24x7, kerala automobiles complaint status, kerala automobiles 24 hour customer care, kerala automobiles grievance email id, kerala automobiles customer care email id, kerala automobiles customer care email id, kerala automobiles branch manager contact number,customer service number kerala automobiles,customer care number kerala automobiles india ,kerala automobiles india branch locator,locate kerala automobiles india branch, kerala automobiles india customer care number, kerala automobiles india customer care number 24x7, kerala automobiles india complaint status, kerala automobiles india 24 hour customer care, kerala automobiles india grievance email id, kerala automobiles india customer care email id, kerala automobiles india customer care email id, kerala automobiles india branch manager contact number,customer service number kerala automobiles india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Kerala Automobiles Limited Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 </h2>
        <p class="list-content"> +91 471 2229100 <br> +91 471 2229111 <br> +91 471 2229123 <br> Email: kal2012online@gmail.com  <br> Email: kalhrd2017@gmail.com <br>  Email: marketing@keralaautomobilesltd.com   </p>


        <h2 class="list-heading1">Head Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">	Kerala Automobiles Limited<br> Aralummoodu PO., via-Neyyattinkara,<br> Thiruvananthapuram- 695 123  </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content">	0471 2229100  <br>   0471 2229111 </p>



        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://keralaautomobilesltd.com/dealer-networks/" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://keralaautomobilesltd.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}