<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Kia India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Kia India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number kia ,kia branch locator,locate kia branch, kia customer care number, kia customer care number 24x7, kia complaint status, kia 24 hour customer care, kia grievance email id, kia customer care email id, kia customer care email id, kia branch manager contact number,customer service number kia,customer care number kia india ,kia india branch locator,locate kia india branch, kia india customer care number, kia india customer care number 24x7, kia india complaint status, kia india 24 hour customer care, kia india grievance email id, kia india customer care email id, kia india customer care email id, kia india branch manager contact number,customer service number kia india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Kia India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">  1800-108-5000 <br> Email: kiacare@kiaindia.net </p>

        <h2 class="list-heading1">Corporate/Government/Fleet Bulk Orders</h2>
        <p class="list-content">  Email:  institutionalsales@kiaindia.net </p>


        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.kia.com/in/buy/find-a-dealer.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.kia.com/in/home.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}