<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Lexux India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Lexus India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number lexus ,lexus branch locator,locate lexus branch, lexus customer care number, lexus customer care number 24x7, lexus complaint status, lexus 24 hour customer care, lexus grievance email id, lexus customer care email id, lexus customer care email id, lexus branch manager contact number,customer service number lexus,customer care number lexus india ,lexus india branch locator,locate lexus india branch, lexus india customer care number, lexus india customer care number 24x7, lexus india complaint status, lexus india 24 hour customer care, lexus india grievance email id, lexus india customer care email id, lexus india customer care email id, lexus india branch manager contact number,customer service number lexus india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">  Lexux India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> 1800 300 53987  <br> Email: contact@lexusindia.co.in  </p>


        <h2 class="list-heading1">Roadside Assistance 24x7 </h2>
        <p class="list-content"> 1800 300 53987  <br> +91 7618779898 </p>


        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.lexusindia.co.in/en/contact-us/find-a-dealer.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.lexusindia.co.in/en.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}