<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Maruti Suzuki</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Maruti Suzuki India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number maruti suzuki ,maruti suzuki branch locator,locate maruti suzuki branch, maruti suzuki customer care number, maruti suzuki customer care number 24x7, maruti suzuki complaint status, maruti suzuki 24 hour customer care, maruti suzuki grievance email id, maruti suzuki customer care email id, maruti suzuki customer care email id, maruti suzuki branch manager contact number,customer service number maruti suzuki,customer care number maruti suzuki india ,maruti suzuki india branch locator,locate maruti suzuki india branch, maruti suzuki india customer care number, maruti suzuki india customer care number 24x7, maruti suzuki india complaint status, maruti suzuki india 24 hour customer care, maruti suzuki india grievance email id, maruti suzuki india customer care email id, maruti suzuki india customer care email id, maruti suzuki india branch manager contact number,customer service number maruti suzuki india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">  Maruti Suzuki Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">1800 102 1800  <br> Email: contact@maruti.co.in  </p>


        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.marutisuzuki.com/dealer-showrooms" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.marutisuzuki.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}