<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Mercedes-Benz India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Mercedes India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number mercedes ,mercedes branch locator,locate mercedes branch, mercedes customer care number, mercedes customer care number 24x7, mercedes complaint status, mercedes 24 hour customer care, mercedes grievance email id, mercedes customer care email id, mercedes customer care email id, mercedes branch manager contact number,customer service number mercedes,customer care number mercedes india ,mercedes india branch locator,locate mercedes india branch, mercedes india customer care number, mercedes india customer care number 24x7, mercedes india complaint status, mercedes india 24 hour customer care, mercedes india grievance email id, mercedes india customer care email id, mercedes india customer care email id, mercedes india branch manager contact number,customer service number mercedes india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">  Mercedes-Benz India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care   </h2>
        <p class="list-content">0008 000 501888 (Toll Free)  <br>Email: cs.ind@cac.mercedes-benz.com</p>

        <h2 class="list-heading1">Grievance Redressal Officer </h2>
        <h3 class="list-subheading1">Contact:</h3>
        <p class="list-content"> Ganesh Rathod <br>+91-2135673000 / 3872 <br> Email: ganesh.rathod@mercedes-benz.com  </p>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">E-3 MIDC Phase-III, Chakan Industrial Area, <br> Kuruli & Nighoje, Taluqa – Khed <br>Chakan – Pune, PIN 410501 </p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.mercedes-benz.co.in/passengercars/mercedes-benz-cars/dealer-locator.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.mercedes-benz.co.in/passengercars.html?group=all&subgroup=see-all&view=BODYTYPE" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}