<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  MG Motor India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find MG Motor India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number mg motor ,mg motor branch locator,locate mg motor branch, mg motor customer care number, mg motor customer care number 24x7, mg motor complaint status, mg motor 24 hour customer care, mg motor grievance email id, mg motor customer care email id, mg motor customer care email id, mg motor branch manager contact number,customer service number mg motor,customer care number mg motor india ,mg motor india branch locator,locate mg motor india branch, mg motor india customer care number, mg motor india customer care number 24x7, mg motor india complaint status, mg motor india 24 hour customer care, mg motor india grievance email id, mg motor india customer care email id, mg motor india customer care email id, mg motor india branch manager contact number,customer service number mg motor india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> MG Motor India Customer Care Details</h1>

        <h2 class="list-heading1">Office 24x7 </h2>
        <p class="list-content">1800-1006464 <br>Email: pulsehub@mgmotor.co.in</p>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">MG Motor India Private Limited<br> 10th Floor, 32nd Avenue,Saini Khera Village, Sector 15,<br>Gurugram, Haryana 122022 </p>

        <h2 class="list-heading1">Plant 24x7 </h2>
        <p class="list-content">1800-1006464 <br>Email: pulsehub@mgmotor.co.in</p>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">MG Motor India Private Limited<br> CHANDRAPURA INDUSTRIAL ESTATE, HALOL,<br>District Panchmahal,Gujarat – 389351</p>


        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.mgmotor.co.in/tools/dealers" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.mgmotor.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}