<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Mini India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Mini India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number mini ,mini branch locator,locate mini branch, mini customer care number, mini customer care number 24x7, mini complaint status, mini 24 hour customer care, mini grievance email id, mini customer care email id, mini customer care email id, mini branch manager contact number,customer service number mini,customer care number mini india ,mini india branch locator,locate mini india branch, mini india customer care number, mini india customer care number 24x7, mini india complaint status, mini india 24 hour customer care, mini india grievance email id, mini india customer care email id, mini india customer care email id, mini india branch manager contact number,customer service number mini india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Mini India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1800 103 6343 Monday - Saturday (9:00 AM to 06:30 PM) <br>Email: contactindia@mini.in </p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.mini.in/en_IN/home/mini-centres/mini-dealer-locator.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.mini.in/en_IN/home.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}