<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website |  Škoda India</title>
        <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <meta name="description" content="Find Skoda India Customer Care details at CustomerCareCompiled.in">
    <meta name="keyword" content="customer care number skoda ,skoda branch locator,locate skoda branch, skoda customer care number, skoda customer care number 24x7, skoda complaint status, skoda 24 hour customer care, skoda grievance email id, skoda customer care email id, skoda customer care email id, skoda branch manager contact number,customer service number skoda,customer care number skoda india ,skoda india branch locator,locate skoda india branch, skoda india customer care number, skoda india customer care number 24x7, skoda india complaint status, skoda india 24 hour customer care, skoda india grievance email id, skoda india customer care email id, skoda india customer care email id, skoda india branch manager contact number,customer service number skoda india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Škoda India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care    </h2>
        <p class="list-content">   1800 123 090909 <br>Email:  customercare@skoda-auto.co.in </p>

        <h2 class="list-heading1">Registered Office</h2>
        <h3 class="list-subheading1">Address:</h3>
        <p class="list-content">ŠKODA AUTO Volkswagen India Pvt. Ltd. <br> E-1, MIDC Industrial Area, Phase III, Village Nigoje, <br>Mhalunge, Kharabwadi, Chakan, Taluka Khed, <br> Pune – 410 501, Maharashtra, India </p>
        <h3 class="list-subheading1">Telephone:</h3>
        <p class="list-content"> 1800 123 090909   <br> Fax: +91 240 6631299, 6631199 </p>



        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://dealers.skoda-auto.co.in/" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.skoda-auto.co.in/?utm_source=dealer_locator&utm_medium=brand_website" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}