<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Agri Hyper Mart</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Agri Hyper Mart India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number agri hyper mart ,agri hyper mart branch locator,locate agri hyper mart branch, agri hyper mart customer care number, agri hyper mart customer care number 24x7, agri hyper mart complaint status, agri hyper mart 24 hour customer care, agri hyper mart grievance email id, agri hyper mart customer care email id, agri hyper mart customer care email id, agri hyper mart branch manager contact number,customer service number agri hyper mart,customer care number agri hyper mart india ,agri hyper mart india branch locator,locate agri hyper mart india branch, agri hyper mart india customer care number, agri hyper mart india customer care number 24x7, agri hyper mart india complaint status, agri hyper mart india 24 hour customer care, agri hyper mart india grievance email id, agri hyper mart india customer care email id, agri hyper mart india customer care email id, agri hyper mart india branch manager contact number,customer service number agri hyper mart india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Agri Hyper Mart Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">+91-821-4289694  <br> +91- 90087 39737 <br>Email: info@agrihypermart.in, &nbsp; bmtmysore@gmail.com <br> Fax: +91-821-4246949</p>

        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}