<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | AO Smith</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find AO Smith India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number ao smith ,ao smith branch locator,locate ao smith branch, ao smith customer care number, ao smith customer care number 24x7, ao smith complaint status, ao smith 24 hour customer care, ao smith grievance email id, ao smith customer care email id, ao smith customer care email id, ao smith branch manager contact number,customer service number ao smith,customer care number ao smith india ,ao smith india branch locator,locate ao smith india branch, ao smith india customer care number, ao smith india customer care number 24x7, ao smith india complaint status, ao smith india 24 hour customer care, ao smith india grievance email id, ao smith india customer care email id, ao smith india customer care email id, ao smith india branch manager contact number,customer service number ao smith india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">AO Smith Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1860 500 2468 <br> 1800 103 2468 <br> 80280 11200 <br> Whatsapp: 9606022468 <br> Email: aosmithcs@aosmithindia.com</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.aosmithindia.com/store-locator/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.aosmithindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}