<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bajaj</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Bajaj India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bajaj ,bajaj branch locator,locate bajaj branch, bajaj customer care number, bajaj customer care number 24x7, bajaj complaint status, bajaj 24 hour customer care, bajaj grievance email id, bajaj customer care email id, bajaj customer care email id, bajaj branch manager contact number,customer service number bajaj,customer care number bajaj india ,bajaj india branch locator,locate bajaj india branch, bajaj india customer care number, bajaj india customer care number 24x7, bajaj india complaint status, bajaj india 24 hour customer care, bajaj india grievance email id, bajaj india customer care email id, bajaj india customer care email id, bajaj india branch manager contact number,customer service number bajaj india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bajaj Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">022 - 4128 0000 (9.00 AM To 6.00 PM) <br>Whatsapp: 7039920000 <br>  Email: consumercare@bajajelectricals.com</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.bajajelectricals.com/store-locater/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bajajelectricals.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}