<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bathla</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Bathla India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bathla ,bathla branch locator,locate bathla branch, bathla customer care number, bathla customer care number 24x7, bathla complaint status, bathla 24 hour customer care, bathla grievance email id, bathla customer care email id, bathla customer care email id, bathla branch manager contact number,customer service number bathla,customer care number bathla india ,bathla india branch locator,locate bathla india branch, bathla india customer care number, bathla india customer care number 24x7, bathla india complaint status, bathla india 24 hour customer care, bathla india grievance email id, bathla india customer care email id, bathla india customer care email id, bathla india branch manager contact number,customer service number bathla india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bathla Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">022-40174660 <br>080-22235131 <br>  Email:  info@bathla.com</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bathla.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}