<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Blue Star</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Blue Star India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number blue star ,blue star branch locator,locate blue star branch, blue star customer care number, blue star customer care number 24x7, blue star complaint status, blue star 24 hour customer care, blue star grievance email id, blue star customer care email id, blue star customer care email id, blue star branch manager contact number,customer service number blue star,customer care number blue star india ,blue star india branch locator,locate blue star india branch, blue star india customer care number, blue star india customer care number 24x7, blue star india complaint status, blue star india 24 hour customer care, blue star india grievance email id, blue star india customer care email id, blue star india customer care email id, blue star india branch manager contact number,customer service number blue star india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Blue Star Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1860 266 6666 <br> 1800 209 1177 <br> customerservice@bluestarindia.com</p>

        <h2 class="list-heading1">SMS Service</h2>
        <p class="list-content">Send “Service” to 57575</p>

        <h2 class="list-heading1">Locate Dealers Here</h2>
        <a class="list-links" href="https://www.bluestarindia.com/contact-us/dealer-locator" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">All Location Here</h2>
        <a class="list-links" href="https://www.bluestarindia.com/locations" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bluestarindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}