<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Bosch </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Bosch India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bosch ,bosch branch locator,locate bosch branch, bosch customer care number, bosch customer care number 24x7, bosch complaint status, bosch 24 hour customer care, bosch grievance email id, bosch customer care email id, bosch customer care email id, bosch branch manager contact number,customer service number bosch,customer care number bosch india ,bosch india branch locator,locate bosch india branch, bosch india customer care number, bosch india customer care number 24x7, bosch india complaint status, bosch india 24 hour customer care, bosch india grievance email id, bosch india customer care email id, bosch india customer care email id, bosch india branch manager contact number,customer service number bosch india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Bosch Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Toll-Free) </h2>
        <p class="list-content">1800 266 1880 (Monday to Saturday – 8:00 AM to 8:00 PM) <br> Email: service.in@bosch-home.com  </p>

        <h2 class="list-heading1">Whatsapp </h2>
        <p class="list-content">+91-8451000555  </p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.bosch-home.in/dealer-locator" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.bosch-home.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}