<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | BPL</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find BPL India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number bpl ,bpl branch locator,locate bpl branch, bpl customer care number, bpl customer care number 24x7, bpl complaint status, bpl 24 hour customer care, bpl grievance email id, bpl customer care email id, bpl customer care email id, bpl branch manager contact number,customer service number bpl,customer care number bpl india ,bpl india branch locator,locate bpl india branch, bpl india customer care number, bpl india customer care number 24x7, bpl india complaint status, bpl india 24 hour customer care, bpl india grievance email id, bpl india customer care email id, bpl india customer care email id, bpl india branch manager contact number,customer service number bpl india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">BPL Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1800 889 1047 (8:00 AM to 8:00 PM, Monday to Saturday)<br> Email: customercare@bpl.in</p>

        <h2 class="list-heading1">For Store Related Queries </h2>
        <p class="list-content">1800 889 1044 (9 AM to 9 PM, 365 days)<br> Email: reliancedigital@ril.com</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://bpllimited.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}