<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Breezalit </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Breezalit India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number breezalit ,breezalit branch locator,locate breezalit branch, breezalit customer care number, breezalit customer care number 24x7, breezalit complaint status, breezalit 24 hour customer care, breezalit grievance email id, breezalit customer care email id, breezalit customer care email id, breezalit branch manager contact number,customer service number breezalit,customer care number breezalit india ,breezalit india branch locator,locate breezalit india branch, breezalit india customer care number, breezalit india customer care number 24x7, breezalit india complaint status, breezalit india 24 hour customer care, breezalit india grievance email id, breezalit india customer care email id, breezalit india customer care email id, breezalit india branch manager contact number,customer service number breezalit india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Breezalit Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> Sales: 9958584011/ 9871120542/ 9871866488 <br><br>Services: +91-9315603663 <br><br>Office: 0120-4541180/ 4541181 <br><br> Email:  breezalitdesignerfans@yahoo.co.in   </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://breezalitfans.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}