<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Carrier</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Carrier India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number carrier ,carrier branch locator,locate carrier branch, carrier customer care number, carrier customer care number 24x7, carrier complaint status, carrier 24 hour customer care, carrier grievance email id, carrier customer care email id, carrier customer care email id, carrier branch manager contact number,customer service number carrier,customer care number carrier india ,carrier india branch locator,locate carrier india branch, carrier india customer care number, carrier india customer care number 24x7, carrier india complaint status, carrier india 24 hour customer care, carrier india grievance email id, carrier india customer care email id, carrier india customer care email id, carrier india branch manager contact number,customer service number carrier india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Carrier Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Monday to Saturday 9 AM to 7 PM)</h2>
        <p class="list-content">1800 3011 1111 <br> 1800 3000 3545 <br> Email: customersupport.india@carrier.utc.com</p>

        <h2 class="list-heading1">Carrier AC Helpline Number</h2>
        <p class="list-content">1800 31211111 <br> +91-124-4825500 <br> +91-124-4825300 <br> Fax: 0124 – 237 2230</p>

        <h2 class="list-heading1">Locate Dealer Here</h2>
        <a class="list-links" href="https://www.carrier.com/commercial/en/in/find-a-dealer/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.carrier.com/commercial/en/in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}