<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Chefpro</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Chefpro India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number chefpro ,chefpro branch locator,locate chefpro branch, chefpro customer care number, chefpro customer care number 24x7, chefpro complaint status, chefpro 24 hour customer care, chefpro grievance email id, chefpro customer care email id, chefpro customer care email id, chefpro branch manager contact number,customer service number chefpro,customer care number chefpro india ,chefpro india branch locator,locate chefpro india branch, chefpro india customer care number, chefpro india customer care number 24x7, chefpro india complaint status, chefpro india 24 hour customer care, chefpro india grievance email id, chefpro india customer care email id, chefpro india customer care email id, chefpro india branch manager contact number,customer service number chefpro india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Chefpro Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">770-415-2119 <br> Email: sales@chefproappliances.com</p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://chefproappliances.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}