<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Cinni</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Cinni India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number cinni ,cinni branch locator,locate cinni branch, cinni customer care number, cinni customer care number 24x7, cinni complaint status, cinni 24 hour customer care, cinni grievance email id, cinni customer care email id, cinni customer care email id, cinni branch manager contact number,customer service number cinni,customer care number cinni india ,cinni india branch locator,locate cinni india branch, cinni india customer care number, cinni india customer care number 24x7, cinni india complaint status, cinni india 24 hour customer care, cinni india grievance email id, cinni india customer care email id, cinni india customer care email id, cinni india branch manager contact number,customer service number cinni india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Cinni Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">0542-2419683 <br> Email: info.savaranasi@gmail.com <br> Fax: 2419681</p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.cinni.fan/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}