<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Clix India</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Clix India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number clix ,clix branch locator,locate clix branch, clix customer care number, clix customer care number 24x7, clix complaint status, clix 24 hour customer care, clix grievance email id, clix customer care email id, clix customer care email id, clix branch manager contact number,customer service number clix,customer care number clix india ,clix india branch locator,locate clix india branch, clix india customer care number, clix india customer care number 24x7, clix india complaint status, clix india 24 hour customer care, clix india grievance email id, clix india customer care email id, clix india customer care email id, clix india branch manager contact number,customer service number clix india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Clix India Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 9918400700 <br> Email: clixhomeservices@gmail.com</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://clixindia.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}