<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Crompton Greaves </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Crompton Greaves India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number crompton greaves ,crompton greaves branch locator,locate crompton greaves branch, crompton greaves customer care number, crompton greaves customer care number 24x7, crompton greaves complaint status, crompton greaves 24 hour customer care, crompton greaves grievance email id, crompton greaves customer care email id, crompton greaves customer care email id, crompton greaves branch manager contact number,customer service number crompton greaves,customer care number crompton greaves india ,crompton greaves india branch locator,locate crompton greaves india branch, crompton greaves india customer care number, crompton greaves india customer care number 24x7, crompton greaves india complaint status, crompton greaves india 24 hour customer care, crompton greaves india grievance email id, crompton greaves india customer care email id, crompton greaves india customer care email id, crompton greaves india branch manager contact number,customer service number crompton greaves india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Crompton Greaves Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content">	1800 419 0505 (Monday to Saturday, 09:00 AM to 07:00 PM) <br>   Email: export.crompton@crompton.co.in  </p>

        <h2 class="list-heading1">Whatsapp Here</h2>
        <a class="list-links" href="https://api.whatsapp.com/send/?phone=917428713838&text=Hi&app_absent=0" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.crompton.co.in/dealer-locator/" target="_blank">Kindly Visit</a>


        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.crompton.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}