<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Daikin</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Daikin India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number daikin ,daikin branch locator,locate daikin branch, daikin customer care number, daikin customer care number 24x7, daikin complaint status, daikin 24 hour customer care, daikin grievance email id, daikin customer care email id, daikin customer care email id, daikin branch manager contact number,customer service number daikin,customer care number daikin india ,daikin india branch locator,locate daikin india branch, daikin india customer care number, daikin india customer care number 24x7, daikin india complaint status, daikin india 24 hour customer care, daikin india grievance email id, daikin india customer care email id, daikin india customer care email id, daikin india branch manager contact number,customer service number daikin india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Daikin Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">011-40319300 <br> 1860 180 3900 <br> Email: customerservice@daikinindia.com </p>

        <h2 class="list-heading1">Sms Service</h2>
        <p class="list-content">&#10092;DAIKIN&#10093; to 92101 88999</p>

        <h2 class="list-heading1">Give Missed Call And Recieve Callback</h2>
        <p class="list-content">92101 88999</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.daikinindia.com/where-to-buy" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.daikinindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}