<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Electrolux</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Electrolux India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number electrolux ,electrolux branch locator,locate electrolux branch, electrolux customer care number, electrolux customer care number 24x7, electrolux complaint status, electrolux 24 hour customer care, electrolux grievance email id, electrolux customer care email id, electrolux customer care email id, electrolux branch manager contact number,customer service number electrolux,customer care number electrolux india ,electrolux india branch locator,locate electrolux india branch, electrolux india customer care number, electrolux india customer care number 24x7, electrolux india complaint status, electrolux india 24 hour customer care, electrolux india grievance email id, electrolux india customer care email id, electrolux india customer care email id, electrolux india branch manager contact number,customer service number electrolux india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Electrolux Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800 1020 527  </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.electrolux.in/sustainability/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}