<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Elica</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Elica India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number elica ,elica branch locator,locate elica branch, elica customer care number, elica customer care number 24x7, elica complaint status, elica 24 hour customer care, elica grievance email id, elica customer care email id, elica customer care email id, elica branch manager contact number,customer service number elica,customer care number elica india ,elica india branch locator,locate elica india branch, elica india customer care number, elica india customer care number 24x7, elica india complaint status, elica india 24 hour customer care, elica india grievance email id, elica india customer care email id, elica india customer care email id, elica india branch manager contact number,customer service number elica india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Elica Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800 233 0007  <br>9243007666<br> Email: sales@elica.in, &nbsp; customercare@elica.in</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.elicaindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}