<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Faber</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Faber India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number faber ,faber branch locator,locate faber branch, faber customer care number, faber customer care number 24x7, faber complaint status, faber 24 hour customer care, faber grievance email id, faber customer care email id, faber customer care email id, faber branch manager contact number,customer service number faber,customer care number faber india ,faber india branch locator,locate faber india branch, faber india customer care number, faber india customer care number 24x7, faber india complaint status, faber india 24 hour customer care, faber india grievance email id, faber india customer care email id, faber india customer care email id, faber india branch manager contact number,customer service number faber india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Faber Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1800-209-3484 (Toll free from 8:00 AM -8:00 PM) <br> Email: customercare.in@franke.com</p>

        <h2 class="list-heading1">Whatsapp </h2>
        <p class="list-content">+91-7219219219</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://faberindia.com/pages/store-locator" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://faberindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}