<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Genpure</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Genpure India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number genpure ,genpure branch locator,locate genpure branch, genpure customer care number, genpure customer care number 24x7, genpure complaint status, genpure 24 hour customer care, genpure grievance email id, genpure customer care email id, genpure customer care email id, genpure branch manager contact number,customer service number genpure,customer care number genpure india ,genpure india branch locator,locate genpure india branch, genpure india customer care number, genpure india customer care number 24x7, genpure india complaint status, genpure india 24 hour customer care, genpure india grievance email id, genpure india customer care email id, genpure india customer care email id, genpure india branch manager contact number,customer service number genpure india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Genpure Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">1800 112 581 <br> Email: sales@genpurero.in</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://genpurero.in/index.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}