<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Gilma</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Gilma India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number gilma ,gilma branch locator,locate gilma branch, gilma customer care number, gilma customer care number 24x7, gilma complaint status, gilma 24 hour customer care, gilma grievance email id, gilma customer care email id, gilma customer care email id, gilma branch manager contact number,customer service number gilma,customer care number gilma india ,gilma india branch locator,locate gilma india branch, gilma india customer care number, gilma india customer care number 24x7, gilma india complaint status, gilma india 24 hour customer care, gilma india grievance email id, gilma india customer care email id, gilma india customer care email id, gilma india branch manager contact number,customer service number gilma india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Gilma Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 	+91 9008032347 <br>+91 9620854000 <br> Email: gilmamangalore@gmail.com</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://gilmamangalore.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}