<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Haier</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Haier India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number haier ,haier branch locator,locate haier branch, haier customer care number, haier customer care number 24x7, haier complaint status, haier 24 hour customer care, haier grievance email id, haier customer care email id, haier customer care email id, haier branch manager contact number,customer service number haier,customer care number haier india ,haier india branch locator,locate haier india branch, haier india customer care number, haier india customer care number 24x7, haier india complaint status, haier india 24 hour customer care, haier india grievance email id, haier india customer care email id, haier india customer care email id, haier india branch manager contact number,customer service number haier india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Haier Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 </h2>
        <p class="list-content"> 1800-419-9999 <br> 1800-102-9999  <br> Email: customercare@haierindia.com</p>

        <h2 class="list-heading1">Whatsapp </h2>
        <p class="list-content"> +91 85530 49999 (9:00 AM to 9:00 PM)</p>

        <h2 class="list-heading1">Service Center Here</h2>
        <a class="list-links" href="https://www.haier.com/in/service-support/service-providers/?spm=in.28912_pc.ServiceContractContent_20220519.1" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.haier.com/in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}