<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Havells </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Havells India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number havells ,havells branch locator,locate havells branch, havells customer care number, havells customer care number 24x7, havells complaint status, havells 24 hour customer care, havells grievance email id, havells customer care email id, havells customer care email id, havells branch manager contact number,customer service number havells,customer care number havells india ,havells india branch locator,locate havells india branch, havells india customer care number, havells india customer care number 24x7, havells india complaint status, havells india 24 hour customer care, havells india grievance email id, havells india customer care email id, havells india customer care email id, havells india branch manager contact number,customer service number havells india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Havells Electronics Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care  </h2>
        <p class="list-content"> 08045 77 1313 <br> Email: Customercare@havells.com   </p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.havells.com/en/dealer-locator.html" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.havells.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}