<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Hylex</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Hylex India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number hylex ,hylex branch locator,locate hylex branch, hylex customer care number, hylex customer care number 24x7, hylex complaint status, hylex 24 hour customer care, hylex grievance email id, hylex customer care email id, hylex customer care email id, hylex branch manager contact number,customer service number hylex,customer care number hylex india ,hylex india branch locator,locate hylex india branch, hylex india customer care number, hylex india customer care number 24x7, hylex india complaint status, hylex india 24 hour customer care, hylex india grievance email id, hylex india customer care email id, hylex india customer care email id, hylex india branch manager contact number,customer service number hylex india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Hylex Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">08045477853 <br>  09996669020  </p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://hylexhomeappliances.tradeindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}