<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | IFB</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find IFB India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number ifb ,ifb branch locator,locate ifb branch, ifb customer care number, ifb customer care number 24x7, ifb complaint status, ifb 24 hour customer care, ifb grievance email id, ifb customer care email id, ifb customer care email id, ifb branch manager contact number,customer service number ifb,customer care number ifb india ,ifb india branch locator,locate ifb india branch, ifb india customer care number, ifb india customer care number 24x7, ifb india complaint status, ifb india 24 hour customer care, ifb india grievance email id, ifb india customer care email id, ifb india customer care email id, ifb india branch manager contact number,customer service number ifb india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">IFB Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 </h2>
        <p class="list-content"> 080 458 45678 <br> Email: customerservice@ifbglobal.com</p>

        <h2 class="list-heading1">Chat Here</h2>
        <a class="list-links" href="https://cb.ifbsupport.com/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.ifbappliances.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}