<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Inalsa</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Inalsa India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number inalsa ,inalsa branch locator,locate inalsa branch, inalsa customer care number, inalsa customer care number 24x7, inalsa complaint status, inalsa 24 hour customer care, inalsa grievance email id, inalsa customer care email id, inalsa customer care email id, inalsa branch manager contact number,customer service number inalsa,customer care number inalsa india ,inalsa india branch locator,locate inalsa india branch, inalsa india customer care number, inalsa india customer care number 24x7, inalsa india complaint status, inalsa india 24 hour customer care, inalsa india grievance email id, inalsa india customer care email id, inalsa india customer care email id, inalsa india branch manager contact number,customer service number inalsa india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Inalsa Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 9773982065 /66/67/68 <br> Email: ial@inalsa.co.in, info@inalsa.co.in</p>

        <h2 class="list-heading1">Service Center Here</h2>
        <a class="list-links" href="https://drive.google.com/file/d/1gR65-J4nT7rpGw2eU6o6XBRQOwFkO0jI/view" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.inalsaappliances.com/premium-dealer" target="_blank">Kindly Visit</a>
 
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.inalsaappliances.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}