<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Intec</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Intec India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number intec ,intec branch locator,locate intec branch, intec customer care number, intec customer care number 24x7, intec complaint status, intec 24 hour customer care, intec grievance email id, intec customer care email id, intec customer care email id, intec branch manager contact number,customer service number intec,customer care number intec india ,intec india branch locator,locate intec india branch, intec india customer care number, intec india customer care number 24x7, intec india complaint status, intec india 24 hour customer care, intec india grievance email id, intec india customer care email id, intec india customer care email id, intec india branch manager contact number,customer service number intec india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Intec Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> +91 11-46153111 (10:00 AM to 6:00 PM) <br> Email: care@intec.co.in</p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.intec.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}