<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kaff</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Kaff India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number kaff ,kaff branch locator,locate kaff branch, kaff customer care number, kaff customer care number 24x7, kaff complaint status, kaff 24 hour customer care, kaff grievance email id, kaff customer care email id, kaff customer care email id, kaff branch manager contact number,customer service number kaff,customer care number kaff india ,kaff india branch locator,locate kaff india branch, kaff india customer care number, kaff india customer care number 24x7, kaff india complaint status, kaff india 24 hour customer care, kaff india grievance email id, kaff india customer care email id, kaff india customer care email id, kaff india branch manager contact number,customer service number kaff india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kaff Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 18001802221 <br> Email: customercare@kaff.in</p>

        <h2 class="list-heading1">For Online Order Status </h2>
        <p class="list-content"> 9811204868 <br> 9999182717 <br> 0124-2873000</p>

        <h2 class="list-heading1">SMS Service </h2>
        <p class="list-content">SMS KAFF at 56677</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://kaff.in/storelocator/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://kaff.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}