<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kelvinator</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Kelvinator India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number kelvinator ,kelvinator branch locator,locate kelvinator branch, kelvinator customer care number, kelvinator customer care number 24x7, kelvinator complaint status, kelvinator 24 hour customer care, kelvinator grievance email id, kelvinator customer care email id, kelvinator customer care email id, kelvinator branch manager contact number,customer service number kelvinator,customer care number kelvinator india ,kelvinator india branch locator,locate kelvinator india branch, kelvinator india customer care number, kelvinator india customer care number 24x7, kelvinator india complaint status, kelvinator india 24 hour customer care, kelvinator india grievance email id, kelvinator india customer care email id, kelvinator india customer care email id, kelvinator india branch manager contact number,customer service number kelvinator india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kelvinator Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7</h2>
        <p class="list-content"> 1800-889-1045 (10:00 AM TO 8:00 PM) <br> Email: care.kelvinator@resq.in</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.kelvinator.in/locateus" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.kelvinator.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}