<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kenstar</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Kenstar India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number kenstar ,kenstar branch locator,locate kenstar branch, kenstar customer care number, kenstar customer care number 24x7, kenstar complaint status, kenstar 24 hour customer care, kenstar grievance email id, kenstar customer care email id, kenstar customer care email id, kenstar branch manager contact number,customer service number kenstar,customer care number kenstar india ,kenstar india branch locator,locate kenstar india branch, kenstar india customer care number, kenstar india customer care number 24x7, kenstar india complaint status, kenstar india 24 hour customer care, kenstar india grievance email id, kenstar india customer care email id, kenstar india customer care email id, kenstar india branch manager contact number,customer service number kenstar india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kenstar Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1860-258-2580 (Mon-Sat: 9:00 AM to 6:30 PM) <br>+91 1725129900 <br> Email:  customercare@kenstar.in </p>

        <h2 class="list-heading1">Whatsapp </h2>
        <p class="list-content"> 9667700943  </p>

        <h2 class="list-heading1">Corporate Enquiry </h2>
        <p class="list-content"> +91 99 1168 4497 <br> Email: corporateenquiries@kenstar.in  </p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://kenstar.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}