<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Kent</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Kent India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number kent ,kent branch locator,locate kent branch, kent customer care number, kent customer care number 24x7, kent complaint status, kent 24 hour customer care, kent grievance email id, kent customer care email id, kent customer care email id, kent branch manager contact number,customer service number kent,customer care number kent india ,kent india branch locator,locate kent india branch, kent india customer care number, kent india customer care number 24x7, kent india complaint status, kent india 24 hour customer care, kent india grievance email id, kent india customer care email id, kent india customer care email id, kent india branch manager contact number,customer service number kent india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Kent Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content">  92-789-12345 (9:00 AM to 6:00 PM)<br> Email: service@kent.co.in</p>

        <h2 class="list-heading1">Whatsapp Here</h2>
        <a class="list-links" href="https://api.whatsapp.com/message/L723MWEK632HB1?autoload=1&app_absent=0" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.kent.co.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}