<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | LG</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find LG India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number lg ,lg branch locator,locate lg branch, lg customer care number, lg customer care number 24x7, lg complaint status, lg 24 hour customer care, lg grievance email id, lg customer care email id, lg customer care email id, lg branch manager contact number,customer service number lg,customer care number lg india ,lg india branch locator,locate lg india branch, lg india customer care number, lg india customer care number 24x7, lg india complaint status, lg india 24 hour customer care, lg india grievance email id, lg india customer care email id, lg india customer care email id, lg india branch manager contact number,customer service number lg india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">LG Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care 24x7 </h2>
        <p class="list-content"> 1800-315-9999 <br> 1800-180-9999 <br> Email: info@advanta.in, reena@advanta.in</p>

        <h2 class="list-heading1">Whatsapp Here</h2>
        <a class="list-links" href="https://api.whatsapp.com/send/?phone=919711709999&text&app_absent=0" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">LG Chat bot Here</h2>
        <a class="list-links" href="https://lg-chatbot.com/web/il?locale=en_IN" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Service Center Locator Here</h2>
        <a class="list-links" href="https://www.lg.com/in/support/locate-repair-center" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.lg.com/in" target="_blank">Kindly Visit</a>

   

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}