<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Livpure</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Livpure India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number livpure ,livpure branch locator,locate livpure branch, livpure customer care number, livpure customer care number 24x7, livpure complaint status, livpure 24 hour customer care, livpure grievance email id, livpure customer care email id, livpure customer care email id, livpure branch manager contact number,customer service number livpure,customer care number livpure india ,livpure india branch locator,locate livpure india branch, livpure india customer care number, livpure india customer care number 24x7, livpure india complaint status, livpure india 24 hour customer care, livpure india grievance email id, livpure india customer care email id, livpure india customer care email id, livpure india branch manager contact number,customer service number livpure india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Livpure Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Monday to Saturday: 9:00 AM - 10:00 PM)</h2>
        <p class="list-content">18004199399 <br><br> +91 76693 66875 <br>+91 9121230397 <br> 08800762226 <br><br> Email: customercare@livpure.com <br> care@livpuresleep.com <br>care@livpuresmart.com</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://livpure.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}