<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Luminous</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Luminous India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number luminous ,luminous branch locator,locate luminous branch, luminous customer care number, luminous customer care number 24x7, luminous complaint status, luminous 24 hour customer care, luminous grievance email id, luminous customer care email id, luminous customer care email id, luminous branch manager contact number,customer service number luminous,customer care number luminous india ,luminous india branch locator,locate luminous india branch, luminous india customer care number, luminous india customer care number 24x7, luminous india complaint status, luminous india 24 hour customer care, luminous india grievance email id, luminous india customer care email id, luminous india customer care email id, luminous india branch manager contact number,customer service number luminous india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Luminous Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800-103-3039 <br> +91 8906-008-008 <br> Email: care@luminousindia.com</p>

        <h2 class="list-heading1">Whatsapp </h2>
        <p class="list-content"> +91 7042-833-939</p>

        <h2 class="list-heading1">For all Online Order Queries </h2>
        <p class="list-content">Email: connect@luminousindia.com</p>

        <h2 class="list-heading1">For all Global Queries </h2>
        <p class="list-content">Email: sales@luminous-global.com</p>

        <h2 class="list-heading1">Store Locator Here</h2>
        <a class="list-links" href="https://www.luminousindia.com/store-locator" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.luminousindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}