<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Milton</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Milton India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number milton ,milton branch locator,locate milton branch, milton customer care number, milton customer care number 24x7, milton complaint status, milton 24 hour customer care, milton grievance email id, milton customer care email id, milton customer care email id, milton branch manager contact number,customer service number milton,customer care number milton india ,milton india branch locator,locate milton india branch, milton india customer care number, milton india customer care number 24x7, milton india complaint status, milton india 24 hour customer care, milton india grievance email id, milton india customer care email id, milton india customer care email id, milton india branch manager contact number,customer service number milton india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Milton Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800 209 2151 (Monday to Saturday - 10.00 AM to 5.30 PM) <br> Email: info@hamiltonindia.in</p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.milton.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}