<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Oreva</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Oreva India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number oreva ,oreva branch locator,locate oreva branch, oreva customer care number, oreva customer care number 24x7, oreva complaint status, oreva 24 hour customer care, oreva grievance email id, oreva customer care email id, oreva customer care email id, oreva branch manager contact number,customer service number oreva,customer care number oreva india ,oreva india branch locator,locate oreva india branch, oreva india customer care number, oreva india customer care number 24x7, oreva india complaint status, oreva india 24 hour customer care, oreva india grievance email id, oreva india customer care email id, oreva india customer care email id, oreva india branch manager contact number,customer service number oreva india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Oreva Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800 120 4445 (Monday to Saturday 9:30 AM TO 6:30 PM)  <br> Email: info@oreva.com</p>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://oreva.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}