<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Prestige</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Prestige India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number prestige ,prestige branch locator,locate prestige branch, prestige customer care number, prestige customer care number 24x7, prestige complaint status, prestige 24 hour customer care, prestige grievance email id, prestige customer care email id, prestige customer care email id, prestige branch manager contact number,customer service number prestige,customer care number prestige india ,prestige india branch locator,locate prestige india branch, prestige india customer care number, prestige india customer care number 24x7, prestige india complaint status, prestige india 24 hour customer care, prestige india grievance email id, prestige india customer care email id, prestige india customer care email id, prestige india branch manager contact number,customer service number prestige india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Prestige Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> +91 9535621112 <br> 8056707773  </p>

        <h2 class="list-heading1">Whatsapp Chat Here</h2>
        <a class="list-links" href="https://api.whatsapp.com/send?phone=919742334411" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Register Complaint Here</h2>
        <a class="list-links" href="https://selfserveapp.kapturecrm.com/web-form/ttk-prestige/" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://shop.ttkprestige.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}