<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Pureit</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Pureit India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number pureit ,pureit branch locator,locate pureit branch, pureit customer care number, pureit customer care number 24x7, pureit complaint status, pureit 24 hour customer care, pureit grievance email id, pureit customer care email id, pureit customer care email id, pureit branch manager contact number,customer service number pureit,customer care number pureit india ,pureit india branch locator,locate pureit india branch, pureit india customer care number, pureit india customer care number 24x7, pureit india complaint status, pureit india 24 hour customer care, pureit india grievance email id, pureit india customer care email id, pureit india customer care email id, pureit india branch manager contact number,customer service number pureit india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Pureit Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1860 210 1000 <br> Email: pureit.hul@unilever.com</p>

        <h2 class="list-heading1">Register Complaint Here</h2>
        <a class="list-links" href="https://www.pureitwater.com/registercomplain" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.pureitwater.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}