<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Racold</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Racold India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number racold ,racold branch locator,locate racold branch, racold customer care number, racold customer care number 24x7, racold complaint status, racold 24 hour customer care, racold grievance email id, racold customer care email id, racold customer care email id, racold branch manager contact number,customer service number racold,customer care number racold india ,racold india branch locator,locate racold india branch, racold india customer care number, racold india customer care number 24x7, racold india complaint status, racold india 24 hour customer care, racold india grievance email id, racold india customer care email id, racold india customer care email id, racold india branch manager contact number,customer service number racold india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Racold Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1860 425 2288 <br>0736 288 8999 <br> 918600256000 <br> Email: customer.care@racold.com</p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.racold.com/store-locator" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.racold.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}