<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Rico</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Rico India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number rico ,rico branch locator,locate rico branch, rico customer care number, rico customer care number 24x7, rico complaint status, rico 24 hour customer care, rico grievance email id, rico customer care email id, rico customer care email id, rico branch manager contact number,customer service number rico,customer care number rico india ,rico india branch locator,locate rico india branch, rico india customer care number, rico india customer care number 24x7, rico india complaint status, rico india 24 hour customer care, rico india grievance email id, rico india customer care email id, rico india customer care email id, rico india branch manager contact number,customer service number rico india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Rico Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> +91 8879 444 877 ( 9:15 AM- 8:00 PM)<br> Email: Service@rico.in</p>

        <h2 class="list-heading1">Register Complaint Here</h2>
        <a class="list-links" href="https://www.rico.in/pages/complaint-desk" target="_blank">Kindly Visit</a>

        <h2 class="list-heading1">Service Center Locator Here</h2>
        <a class="list-links" href="https://www.rico.in/pages/stores" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.rico.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}