<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Russell Hobbs</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Russell Hobbs India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number russell hobbs ,russell hobbs branch locator,locate russell hobbs branch, russell hobbs customer care number, russell hobbs customer care number 24x7, russell hobbs complaint status, russell hobbs 24 hour customer care, russell hobbs grievance email id, russell hobbs customer care email id, russell hobbs customer care email id, russell hobbs branch manager contact number,customer service number russell hobbs,customer care number russell hobbs india ,russell hobbs india branch locator,locate russell hobbs india branch, russell hobbs india customer care number, russell hobbs india customer care number 24x7, russell hobbs india complaint status, russell hobbs india 24 hour customer care, russell hobbs india grievance email id, russell hobbs india customer care email id, russell hobbs india customer care email id, russell hobbs india branch manager contact number,customer service number russell hobbs india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Russell Hobbs Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> +919999924375 <br> Email: gryphon110044@gmail.com</p>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.gryphonappliances.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}