<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Skyline</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Skyline India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number skyline ,skyline branch locator,locate skyline branch, skyline customer care number, skyline customer care number 24x7, skyline complaint status, skyline 24 hour customer care, skyline grievance email id, skyline customer care email id, skyline customer care email id, skyline branch manager contact number,customer service number skyline,customer care number skyline india ,skyline india branch locator,locate skyline india branch, skyline india customer care number, skyline india customer care number 24x7, skyline india complaint status, skyline india 24 hour customer care, skyline india grievance email id, skyline india customer care email id, skyline india customer care email id, skyline india branch manager contact number,customer service number skyline india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Skyline Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 18001202077 <br> 08045477687 </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://www.skylinehomeappliances.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}