<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Soyer</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Soyer India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number soyer ,soyer branch locator,locate soyer branch, soyer customer care number, soyer customer care number 24x7, soyer complaint status, soyer 24 hour customer care, soyer grievance email id, soyer customer care email id, soyer customer care email id, soyer branch manager contact number,customer service number soyer,customer care number soyer india ,soyer india branch locator,locate soyer india branch, soyer india customer care number, soyer india customer care number 24x7, soyer india complaint status, soyer india 24 hour customer care, soyer india grievance email id, soyer india customer care email id, soyer india customer care email id, soyer india branch manager contact number,customer service number soyer india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Soyer Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800-425-55-46 <br> Email: care@soyerelectronics.com</p>

        <h2 class="list-heading1">Locate Us Here</h2>
        <a class="list-links" href="https://www.google.co.in/maps/place/Soyer+Electronics/@28.6473393,77.151973,15z/data=!3m1!4b1!4m5!3m4!1s0x390d02ef45555555:0x75ad9393c25f1968!8m2!3d28.6473208!4d77.1607278?shorturl=1" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://www.soyer.in/index.html" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}