<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Usha</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Usha India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number usha ,usha branch locator,locate usha branch, usha customer care number, usha customer care number 24x7, usha complaint status, usha 24 hour customer care, usha grievance email id, usha customer care email id, usha customer care email id, usha branch manager contact number,customer service number usha,customer care number usha india ,usha india branch locator,locate usha india branch, usha india customer care number, usha india customer care number 24x7, usha india complaint status, usha india 24 hour customer care, usha india grievance email id, usha india customer care email id, usha india customer care email id, usha india branch manager contact number,customer service number usha india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Usha Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 9899210990 <br> +91-11-45770990 <br> Email: sales@usha.in</p>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.usha.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}