<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Venus</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Venus India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number venus ,venus branch locator,locate venus branch, venus customer care number, venus customer care number 24x7, venus complaint status, venus 24 hour customer care, venus grievance email id, venus customer care email id, venus customer care email id, venus branch manager contact number,customer service number venus,customer care number venus india ,venus india branch locator,locate venus india branch, venus india customer care number, venus india customer care number 24x7, venus india complaint status, venus india 24 hour customer care, venus india grievance email id, venus india customer care email id, venus india customer care email id, venus india branch manager contact number,customer service number venus india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Venus Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 0814 466 6999 <br> +91-044 - 43401515 <br><br> Email: customercare@venushomeappliances.com, enquiry@venushomeappliances.com <br> Fax: +91-044 - 43401525</p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://www.venushomeappliances.com/dealerlocator" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.venushomeappliances.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}