<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Videocon</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Videocon India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number videocon ,videocon branch locator,locate videocon branch, videocon customer care number, videocon customer care number 24x7, videocon complaint status, videocon 24 hour customer care, videocon grievance email id, videocon customer care email id, videocon customer care email id, videocon branch manager contact number,customer service number videocon,customer care number videocon india ,videocon india branch locator,locate videocon india branch, videocon india customer care number, videocon india customer care number 24x7, videocon india complaint status, videocon india 24 hour customer care, videocon india grievance email id, videocon india customer care email id, videocon india customer care email id, videocon india branch manager contact number,customer service number videocon india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Videocon Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 18002000111 </p>

        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}