<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Voltas</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Voltas India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number voltas ,voltas branch locator,locate voltas branch, voltas customer care number, voltas customer care number 24x7, voltas complaint status, voltas 24 hour customer care, voltas grievance email id, voltas customer care email id, voltas customer care email id, voltas branch manager contact number,customer service number voltas,customer care number voltas india ,voltas india branch locator,locate voltas india branch, voltas india customer care number, voltas india customer care number 24x7, voltas india complaint status, voltas india 24 hour customer care, voltas india grievance email id, voltas india customer care email id, voltas india customer care email id, voltas india branch manager contact number,customer service number voltas india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Voltas Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Home Appliances) </h2>
        <p class="list-content"> 1860-599-4444 <br>  98189 94444 <br> Email: wecare@voltasbeko.com</p>

        <h2 class="list-heading1">Customer Care (Home Cooling & Refrigeration Product Support) </h2>
        <p class="list-content">1860-599-4555 <br> 96506 94555 <br>Whatsapp: 96506 94555 <br>  Email: accare@voltas.com, vcare@voltas.com  </p>

        <h2 class="list-heading1">SMS Service </h2>
        <p class="list-content"> SMS <VB> to 56677 </p>

        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.voltas.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}