<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Westinghouse</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Westinghouse India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number westinghouse ,westinghouse branch locator,locate westinghouse branch, westinghouse customer care number, westinghouse customer care number 24x7, westinghouse complaint status, westinghouse 24 hour customer care, westinghouse grievance email id, westinghouse customer care email id, westinghouse customer care email id, westinghouse branch manager contact number,customer service number westinghouse,customer care number westinghouse india ,westinghouse india branch locator,locate westinghouse india branch, westinghouse india customer care number, westinghouse india customer care number 24x7, westinghouse india complaint status, westinghouse india 24 hour customer care, westinghouse india grievance email id, westinghouse india customer care email id, westinghouse india customer care email id, westinghouse india branch manager contact number,customer service number westinghouse india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Westinghouse Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care (Call/WhatsApp)</h2>
        <p class="list-content"> 880-0444-666 (10:00 AM to 6:00 PM – Monday to Saturday) <br> Email: service@westinghousesa.in, info@westinghousesa.in</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="http://westinghousesa.in/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}