<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Whirlpool</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Whirlpool India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number whirlpool ,whirlpool branch locator,locate whirlpool branch, whirlpool customer care number, whirlpool customer care number 24x7, whirlpool complaint status, whirlpool 24 hour customer care, whirlpool grievance email id, whirlpool customer care email id, whirlpool customer care email id, whirlpool branch manager contact number,customer service number whirlpool,customer care number whirlpool india ,whirlpool india branch locator,locate whirlpool india branch, whirlpool india customer care number, whirlpool india customer care number 24x7, whirlpool india complaint status, whirlpool india 24 hour customer care, whirlpool india grievance email id, whirlpool india customer care email id, whirlpool india customer care email id, whirlpool india branch manager contact number,customer service number whirlpool india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading">Whirlpool Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 1800 208 1800 (Toll Free) <br> Email: helpdeskindia@whirlpool.com</p>

        <h2 class="list-heading1">Whatsapp </h2>
        <p class="list-content"> +91 9667427788</p>

        <h2 class="list-heading1">Dealer Locator Here</h2>
        <a class="list-links" href="https://corporate.whirlpoolindia.com/discover/dealer-brand-locator?_ga=2.59297897.531443993.1653326482-1266747732.1653326482" target="_blank">Kindly Visit</a>
 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.whirlpoolindia.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}