<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Care Website | Zero B</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
	<meta name="description" content="Find Zero B India Customer Care details at CustomerCareCompiled.in">
	<meta name="keyword" content="customer care number zero b ,zero b branch locator,locate zero b branch, zero b customer care number, zero b customer care number 24x7, zero b complaint status, zero b 24 hour customer care, zero b grievance email id, zero b customer care email id, zero b customer care email id, zero b branch manager contact number,customer service number zero b,customer care number zero b india ,zero b india branch locator,locate zero b india branch, zero b india customer care number, zero b india customer care number 24x7, zero b india complaint status, zero b india 24 hour customer care, zero b india grievance email id, zero b india customer care email id, zero b india customer care email id, zero b india branch manager contact number,customer service number zero b india">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/infopages.css">
    <link rel="stylesheet" href="../css/listpages.css">
    <link rel="stylesheet" href="../css/style1.css">
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4fe4904d1.js" crossorigin="anonymous"></script>
</head>
<body>
{{>navbar}}
<div class="space-above"></div>
<div class="page-container list-outside">
    <div class="container-inside list-inside">
        <h1 class="infopages-heading"> Zero B Customer Care Details</h1>

        <h2 class="list-heading1">Customer Care </h2>
        <p class="list-content"> 0022 27881234 <br> 022 68486848 <br> Email: zerob@ionexchange.co.in</p>

 
        <h2 class="list-heading1">Official Website Here</h2>
        <a class="list-links" href="https://www.zerobonline.com/" target="_blank">Kindly Visit</a>

   
        <hr>
        {{>feedback}}


    </div>
    
    
</div>
<div class="space-below"></div>
{{>footer}}